<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item">
              <%= link_to(root_path, class: "button is-#{color} is-outlined") do %>
                  <span class="icon has-text-info">
                      <i class="fa fa-home"></i>
                  </span>
                  <span>Home</span>
              <% end %>
          </span>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">

                <span class="navbar-item">
                    <a class="button is-<%=color%> is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                        <span class="icon has-text-info">
                            <i class="fa fa-linkedin-square"></i>
                        </span>
                        <span>LinkedIn</span>
                    </a>
                </span>
                <span class="navbar-item">
                    <a class="button is-<%=color%> is-outlined" href="https://github.com/Flysure" target="_blank">
                        <span class="icon has-text-info">
                            <i class="fa fa-github"></i>
                        </span>
                        <span>Github</span>
                    </a>
                </span>
            </div>
        </div>
        </div>
</nav>
