<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <%= link_to(projects_path, class: "button is-black is-outlined") do %>
                        <span class="icon has-text-info">
                            <i class="fa fa-superpowers"></i>
                        </span>
                        <span>Projects</span>
                    <% end %>
                </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
  <div class="content is-size-6 offset fadein">
        <div class="container">
          <h1 class="title is-2">
          Data Mining Apple Health App Data
          </h1>
          <h2 class="subtitle is-4">Three Years Walking/Running and Stairs Data Analyzed</h2>
        </div>
<hr>
    <div class="introduction box is-size-5">
      <div class="columns">
        <div class="column">



      <p>Some questions that I am looking to answer:</p>
      <ul>
        <li>How much do I walk regularly?</li>
        <li>Do I walk more or less on weekends?</li>
        <li>In which season do I walk more or less?</li>
        <li>How does walking compare with stairs climbed?</li>
      </ul>
</div>
<div class="column">

  <p class="image is-128x128	
">
    <%= image_tag("health-app.png") %>
  </p>
</div>
</div>
    </div>

    <div class="columns">
      <div class="column">
        <canvas id="yearWalk" width="350" height="200"></canvas>
      </div>
      <div class="column is-two-thirds">
          <%= image_tag("boxplot.png") %>
      </div>
    </div>
    <div class="columns box">
      <div class="column">
        My data begins in May of 2015.
        I walked nearly the same amount in 2016 and 2017, and I'm on pace for a similar amount in 2018
      </div>
      <div class="column">
        A boxplot of miles per day - gives a nice summary of
        the spread and outliers

      </div>
      <div class="column">
          <strong>Min</strong> - 0.034 miles <br>
          <strong>Median</strong> - 2.04 miles <br>
          <strong>Max</strong> - 11.07 miles<br>
      </div>
    </div>

    <br>
    <div class="columns">

      <div class="column box">
        <p class='is-size-5'>How much do I walk regularly?</p>
        <ul>

          <li>In September of 2016 I walked <strong>150 miles</strong></li>
          <ul>
            <li>This was my first full month of college living on OSU campus.
            Not knowing my way around contributed to a lot of wandering </li>
          </ul>
          <li>In June of 2017 I only walked <strong>38 miles</strong></li>
          <ul>
            <li>This Summer I had a short driving commute to work and
            if I went out, I rarely took my phone with me  </li>
          </ul>
          <li>I only pulled 2016 and 2017 for this graph because I wanted to see
          if I could compare patterns for full years rather than partially recorded years</li>
        </ul>

      </div>
      <div class="column is-two-thirds">
                <canvas id="monthWalk"  width="800" height="400"></canvas>
</div>

  </div>
  <div class="columns">
    <div class="column">
      <h5 class="has-text-centered">May 2016 - August 2018</h5>
      <table border="1" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">  <thead>    <tr style="text-align: right;">      <th>Day of Week</th>      <th>Avg Miles</th>    </tr>  </thead>  <tbody>    <tr>      <td>Monday</td>      <td>2.63</td>    </tr>    <tr>      <td>Tuesday</td>      <td>2.88</td>
      </tr>    <tr>      <td>Wednesday</td>      <td>2.94</td>    </tr>    <tr>      <td>Thursday</td>      <td>2.72</td>    </tr>    <tr>      <td>Friday</td>      <td>2.77</td>    </tr>    <tr>      <td>Saturday</td>      <td>2.50</td>    </tr>    <tr>      <td>Sunday</td>      <td>1.97</td>    </tr>  </tbody></table>

    </div>
    <div class="column is-two-thirds box">
      <p class='is-size-5'>Do I walk more or less on weekends?</p>
      <ul>
        <li>Saturday and Sunday were my two lowest days</li>
        <ul>
          <li><strong>Sunday</strong> was the absolute lowest, to be expected as it always my day off</li>
        </ul>
        <li>My mean miles per day total was <strong>2.52 miles</strong></li>
        <ul>
          <li>This is a .5 miles increase from the median</li>
          <li>Miles per day are bunched more toward lower end of scale as shown in boxplot</li>
        </ul>
        <li>I walk most on <strong>Wednesdays</strong></li>
      </ul>

    </div>


  </div>
  <br>
<div class="columns">
  <div class="column box">
<p class='is-size-5'>In which season do I walk more or less?</p>
<ul>
  <li>In 2016, my walking was lower in Winter and Spring but increased in Summer and Fall</li>
  <ul>
    <li>I walked roughly 100 miles less in Winter of 2016 than Winter of 2017</li>
  </ul>
  <li>In 2017, my amount of walking almost reverses from 2016 and I walk more in Winter and Spring but less in Summer and Fall</li>
  <ul>
    <li>There was also less variation in walking distance throughout the year as compared to in 2016</li>
  </ul>
</ul>
  </div>
  <div class="column is-two-thirds">
<canvas id="line-chart" width="600" height="300"></canvas>
  </div>
</div>
<br>
  <div class="columns">
    <div class="column box">
      <p class='is-size-5'>How does walking compare with stairs climbed?</p>
      <p>This is a direct comparison between miles walked and
      flight of stairs climbed. Initially, I expected there to be
      a strong correllation bewteen these variables.<blockquote><strong>Hypothesis</strong>: As running/walking
        miles increase, flights climbed increase as well. And vice versa.</blockquote>As it turns out, the correllation ceofficient value is 0.298 -
      A relatively low correllation that counteracts my intial idea. In the future, more data could be analyzed in order to make a more informed decision concerning the relationship</p>
    </div>
    <div class="column is-two-thirds">
      <canvas id="scatter"  width="800" height="400"></canvas>

    </div>

  </div>
  <p>I used <a href="http://ericwolter.com/projects/health-export.html" target="_blank">this</a> free tool to convert XML to CSV format</p>

  <p>The data starts in May of 2015
  and continues to when I am making this, August 2018</p>
</div>
</div>
<br><br><br>
<script>
new Chart(document.getElementById("line-chart"), {
  type: 'line',
  data: {
    labels: ['Winter','Spring','Summer','Fall'],
    datasets: [{
        data: [154.87, 158.95, 290.6, 335.27],
        label: "2016",
        borderColor: "black",
        fill: false
      }, {
        data: [261.48, 244.4, 202.91, 266.77],
        label: "2017",
        borderColor: "red",
        fill: false
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Miles per Season (By year)'
    }
  }
});
var ctx = document.getElementById("yearWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["2015","2016","2017","2018"],
        datasets: [{
            label: 'Miles',
            data: [573.45, 940.36, 975.74, 490.39],
            backgroundColor:   'rgba(255, 99, 132, 0.2)',
            borderColor:   'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
      title: {
            display: true,
            text: 'Miles Tracked By Year 05/15 - 08/2018'
        },
      legend: {
            display: false
         },
      responsive: true,

        scales: {
            yAxes: [{
              scaleLabel: {
        display: true,
        labelString: 'Miles'
      },
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx = document.getElementById("monthWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Jan 2016","Feb 2016","Mar 2016","Apr 2016","May 2016","June 2016",'Jul 2016', 'Aug 2016', "Sep 2016",'Oct 2016','Nov 2016', "Dec 2016",
      "Jan 2017","Feb 2017","Mar 2017","Apr 2017","May 2017","June 2017",'Jul 2017', 'Aug 2017', "Sep 2017",'Oct 2017','Nov 2017', "Dec 2017"],
        datasets: [{
            label: 'Miles',
            data:[ 52.46,  52.42,  61.06,  49.49,  53.37,  54.64,  57.49, 111.7 ,
       150.51, 131.79, 100.47,  64.96,  99.21,  99.86, 107.55, 115.92,
        49.21,  38.53,  39.4 ,  72.18, 105.75,  97.96, 104.46,  45.71],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'red',
            borderWidth: 1
        }]
    },
    options: {
      title: {
            display: true,
            text: 'Miles Tracked By Month and Year 2016-2017'
        },
      legend: {
            display: false
         },
      responsive: true,

        scales: {
            yAxes: [{
              scaleLabel: {
        display: true,
        labelString: 'Miles'
      },
                ticks: {
                    beginAtZero:true
                }
            }],
            xAxes: [{
              scaleLabel: {
        display: true,
        labelString: 'Month, Year'
      }}]
        }
    }
});
var ctx = document.getElementById("scatter").getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Miles, Stairs',
            borderColor: 'red',
				    backgroundColor: 'rgba(255, 99, 132, 0.2)',
            data: [{x: 1.84, y: 6.0},
{x: 2.7, y: 8.0},
{x: 1.67, y: 10.0},
{x: 3.56, y: 12.0},
{x: 2.07, y: 8.0},
{x: 1.81, y: 10.0},
{x: 1.31, y: 6.0},
{x: 1.8, y: 12.0},
{x: 4.91, y: 21.0},
{x: 1.31, y: 9.0},
{x: 2.54, y: 8.0},
{x: 1.51, y: 10.0},
{x: 1.02, y: 6.0},
{x: 1.35, y: 6.0},
{x: 4.52, y: 11.0},
{x: 6.54, y: 11.0},
{x: 6.5, y: 9.0},
{x: 2.25, y: 5.0},
{x: 2.0, y: 5.0},
{x: 1.29, y: 6.0},
{x: 2.49, y: 9.0},
{x: 3.11, y: 16.0},
{x: 2.01, y: 9.0},
{x: 1.17, y: 12.0},
{x: 1.53, y: 14.0},
{x: 1.9, y: 6.0},
{x: 1.0, y: 4.0},
{x: 1.15, y: 7.0},
{x: 2.33, y: 8.0},
{x: 4.02, y: 21.0},
{x: 4.12, y: 10.0},
{x: 1.21, y: 7.0},
{x: 3.95, y: 10.0},
{x: 1.2, y: 9.0},
{x: 7.2, y: 9.0},
{x: 2.5, y: 11.0},
{x: 1.54, y: 13.0},
{x: 5.83, y: 10.0},
{x: 3.78, y: 10.0},
{x: 3.35, y: 20.0},
{x: 6.03, y: 12.0},
{x: 1.63, y: 10.0},
{x: 3.99, y: 10.0},
{x: 3.99, y: 8.0},
{x: 3.97, y: 13.0},
{x: 5.18, y: 12.0},
{x: 2.66, y: 12.0},
{x: 7.45, y: 12.0},
{x: 2.08, y: 8.0},
{x: 2.15, y: 10.0},
{x: 3.81, y: 33.0},
{x: 1.29, y: 14.0},
{x: 2.11, y: 14.0},
{x: 4.12, y: 6.0},
{x: 4.24, y: 11.0},
{x: 2.03, y: 13.0},
{x: 1.21, y: 14.0},
{x: 1.69, y: 15.0},
{x: 2.61, y: 11.0},
{x: 4.66, y: 13.0},
{x: 3.3, y: 6.0},
{x: 2.69, y: 15.0},
{x: 5.22, y: 12.0},
{x: 4.3, y: 11.0},
{x: 3.4, y: 5.0},
{x: 1.75, y: 12.0},
{x: 0.57, y: 7.0},
{x: 0.97, y: 9.0},
{x: 1.59, y: 8.0},
{x: 3.16, y: 8.0},
{x: 8.48, y: 8.0},
{x: 4.81, y: 5.0},
{x: 4.64, y: 17.0},
{x: 2.42, y: 9.0},
{x: 4.63, y: 13.0},
{x: 1.29, y: 5.0},
{x: 1.16, y: 9.0},
{x: 1.86, y: 16.0},
{x: 2.06, y: 14.0},
{x: 2.7, y: 13.0},
{x: 3.41, y: 13.0},
{x: 2.82, y: 13.0},
{x: 1.86, y: 6.0},
{x: 4.03, y: 14.0},
{x: 3.8, y: 9.0},
{x: 3.95, y: 11.0},
{x: 3.0, y: 8.0},
{x: 4.04, y: 4.0},
{x: 2.94, y: 9.0},
{x: 3.02, y: 6.0},
{x: 0.58, y: 5.0},
{x: 3.29, y: 7.0},
{x: 2.43, y: 7.0},
{x: 2.44, y: 6.0},
{x: 1.87, y: 5.0},
{x: 2.61, y: 8.0},
{x: 2.46, y: 5.0},
{x: 1.38, y: 4.0},
{x: 2.52, y: 9.0},
{x: 1.88, y: 7.0},
{x: 2.03, y: 6.0},
{x: 1.66, y: 7.0},
{x: 3.49, y: 4.0},
{x: 1.86, y: 4.0},
{x: 2.67, y: 14.0},
{x: 4.19, y: 15.0},
{x: 2.11, y: 8.0},
{x: 1.8, y: 8.0},
{x: 1.84, y: 9.0},
{x: 3.13, y: 6.0},
{x: 3.19, y: 8.0},
{x: 0.48, y: 12.0},
{x: 2.58, y: 6.0},
{x: 2.36, y: 8.0},
{x: 2.37, y: 11.0},
{x: 2.05, y: 13.0},
{x: 4.13, y: 8.0},
{x: 1.87, y: 7.0},
{x: 3.69, y: 8.0},
{x: 5.14, y: 8.0},
{x: 2.29, y: 10.0},
{x: 2.81, y: 10.0},
{x: 1.95, y: 9.0},
{x: 2.64, y: 7.0},
{x: 1.39, y: 13.0},
{x: 2.42, y: 13.0},
{x: 2.8, y: 7.0},
{x: 2.85, y: 13.0},
{x: 2.12, y: 8.0},
{x: 2.64, y: 8.0},
{x: 6.18, y: 11.0},
{x: 1.19, y: 9.0},
{x: 1.05, y: 11.0},
{x: 2.46, y: 10.0},
{x: 2.27, y: 8.0},
{x: 2.18, y: 5.0},
{x: 2.47, y: 6.0},
{x: 3.08, y: 9.0},
{x: 4.04, y: 7.0},
{x: 1.87, y: 9.0},
{x: 3.09, y: 11.0},
{x: 3.05, y: 12.0},
{x: 1.81, y: 7.0},
{x: 4.51, y: 10.0},
{x: 2.63, y: 6.0},
{x: 2.32, y: 6.0},
{x: 2.13, y: 12.0},
{x: 1.66, y: 7.0},
{x: 2.57, y: 6.0},
{x: 2.59, y: 4.0},
{x: 2.58, y: 8.0},
{x: 4.61, y: 6.0},
{x: 2.13, y: 7.0},
{x: 1.12, y: 7.0},
{x: 2.31, y: 9.0},
{x: 1.85, y: 10.0},
{x: 1.43, y: 6.0},
{x: 1.82, y: 11.0},
{x: 1.95, y: 9.0},
{x: 1.67, y: 12.0},
{x: 1.99, y: 10.0},
{x: 1.63, y: 6.0},
{x: 2.79, y: 11.0},
{x: 2.03, y: 13.0},
{x: 3.51, y: 11.0},
{x: 2.71, y: 9.0},
{x: 2.95, y: 9.0},
{x: 3.42, y: 11.0},
{x: 1.9, y: 6.0},
{x: 2.53, y: 8.0},
{x: 3.84, y: 9.0},
{x: 2.69, y: 6.0},
{x: 3.5, y: 18.0},
{x: 2.17, y: 6.0},
{x: 0.47, y: 7.0},
{x: 1.97, y: 9.0},
{x: 3.52, y: 9.0},
{x: 1.75, y: 9.0},
{x: 2.62, y: 12.0},
{x: 2.33, y: 9.0},
{x: 1.22, y: 5.0},
{x: 0.68, y: 5.0},
{x: 1.87, y: 6.0},
{x: 10.27, y: 5.0},
{x: 2.96, y: 1.0},
{x: 1.96, y: 3.0},
{x: 0.56, y: 3.0},
{x: 1.59, y: 9.0},
{x: 1.18, y: 12.0},
{x: 0.75, y: 10.0},
{x: 2.69, y: 12.0},
{x: 1.97, y: 9.0},
{x: 1.68, y: 11.0},
{x: 1.71, y: 13.0},
{x: 2.5, y: 18.0},
{x: 1.48, y: 15.0},
{x: 1.82, y: 6.0},
{x: 2.48, y: 8.0},
{x: 2.53, y: 9.0},
{x: 2.41, y: 7.0},
{x: 1.79, y: 10.0},
{x: 3.14, y: 10.0},
{x: 4.4, y: 12.0},
{x: 1.83, y: 6.0},
{x: 1.99, y: 10.0},
{x: 1.7, y: 15.0},
{x: 1.69, y: 4.0},
{x: 1.32, y: 6.0},
{x: 1.0, y: 6.0},
{x: 1.48, y: 7.0},
{x: 0.53, y: 9.0},
{x: 1.34, y: 9.0},
{x: 3.82, y: 8.0},
{x: 1.61, y: 5.0},
{x: 1.93, y: 14.0},
{x: 1.11, y: 2.0},
{x: 2.07, y: 8.0},
{x: 0.94, y: 7.0},
{x: 0.98, y: 7.0},
{x: 1.6, y: 14.0},
{x: 1.26, y: 10.0},
{x: 1.66, y: 15.0},
{x: 0.81, y: 4.0},
{x: 0.33, y: 4.0},
{x: 2.48, y: 9.0},
{x: 2.0, y: 6.0},
{x: 1.68, y: 8.0},
{x: 2.4, y: 10.0},
{x: 2.15, y: 9.0},
{x: 1.38, y: 9.0},
{x: 1.08, y: 9.0},
{x: 2.17, y: 6.0},
{x: 1.36, y: 8.0},
{x: 1.64, y: 9.0},
{x: 2.43, y: 9.0},
{x: 1.5, y: 11.0},
{x: 1.22, y: 3.0},
{x: 1.02, y: 6.0},
{x: 0.7, y: 6.0},
{x: 2.1, y: 8.0},
{x: 1.76, y: 10.0},
{x: 3.56, y: 10.0},
{x: 1.7, y: 4.0},
{x: 0.96, y: 9.0},
{x: 1.43, y: 9.0},
{x: 2.48, y: 7.0},
{x: 1.73, y: 14.0},
{x: 1.9, y: 10.0},
{x: 1.47, y: 11.0},
{x: 2.42, y: 12.0},
{x: 1.65, y: 7.0},
{x: 1.29, y: 8.0},
{x: 1.48, y: 8.0},
{x: 1.81, y: 10.0},
{x: 1.77, y: 11.0},
{x: 2.05, y: 8.0},
{x: 1.36, y: 8.0},
{x: 2.17, y: 13.0},
{x: 0.86, y: 6.0},
{x: 1.93, y: 7.0},
{x: 1.96, y: 7.0},
{x: 1.44, y: 9.0},
{x: 2.3, y: 12.0},
{x: 1.37, y: 8.0},
{x: 1.09, y: 11.0},
{x: 1.02, y: 10.0},
{x: 0.93, y: 9.0},
{x: 1.23, y: 13.0},
{x: 2.15, y: 7.0},
{x: 2.37, y: 8.0},
{x: 2.0, y: 10.0},
{x: 3.33, y: 14.0},
{x: 1.17, y: 3.0},
{x: 1.35, y: 8.0},
{x: 1.6, y: 7.0},
{x: 1.62, y: 6.0},
{x: 2.28, y: 12.0},
{x: 2.57, y: 11.0},
{x: 4.19, y: 31.0},
{x: 1.14, y: 8.0},
{x: 1.88, y: 5.0},
{x: 2.08, y: 8.0},
{x: 1.62, y: 7.0},
{x: 1.54, y: 7.0},
{x: 1.99, y: 7.0},
{x: 0.83, y: 7.0},
{x: 3.44, y: 4.0},
{x: 1.74, y: 8.0},
{x: 2.02, y: 11.0},
{x: 2.04, y: 12.0},
{x: 1.5, y: 6.0},
{x: 4.99, y: 20.0},
{x: 3.81, y: 23.0},
{x: 0.94, y: 7.0},
{x: 2.51, y: 9.0},
{x: 1.66, y: 6.0},
{x: 1.96, y: 9.0},
{x: 1.45, y: 6.0},
{x: 1.97, y: 13.0},
{x: 1.42, y: 7.0},
{x: 1.18, y: 11.0},
{x: 2.51, y: 5.0},
{x: 1.65, y: 6.0},
{x: 1.61, y: 9.0},
{x: 1.97, y: 8.0},
{x: 0.8, y: 9.0},
{x: 3.35, y: 17.0},
{x: 1.35, y: 6.0},
{x: 1.49, y: 6.0},
{x: 1.29, y: 6.0},
{x: 3.27, y: 10.0},
{x: 1.08, y: 9.0},
{x: 1.65, y: 9.0},
{x: 1.09, y: 7.0},
{x: 0.67, y: 11.0},
{x: 2.01, y: 9.0},
{x: 1.79, y: 5.0},
{x: 1.63, y: 11.0},
{x: 1.87, y: 10.0},
{x: 1.37, y: 7.0},
{x: 0.75, y: 5.0},
{x: 0.77, y: 10.0},
{x: 1.23, y: 7.0},
{x: 1.54, y: 7.0},
{x: 2.05, y: 10.0},
{x: 2.08, y: 7.0},
{x: 3.22, y: 7.0},
{x: 1.51, y: 7.0},
{x: 2.65, y: 4.0},
{x: 1.61, y: 10.0},
{x: 1.64, y: 7.0},
{x: 2.11, y: 8.0},
{x: 1.62, y: 8.0},
{x: 2.49, y: 6.0},
{x: 2.64, y: 9.0},
{x: 1.07, y: 12.0},
{x: 1.5, y: 7.0},
{x: 0.73, y: 9.0},
{x: 2.25, y: 8.0},
{x: 1.47, y: 8.0},
{x: 1.44, y: 5.0},
{x: 1.04, y: 8.0},
{x: 1.12, y: 8.0},
{x: 1.39, y: 7.0},
{x: 1.08, y: 5.0},
{x: 1.52, y: 6.0},
{x: 0.99, y: 7.0},
{x: 2.46, y: 8.0},
{x: 3.89, y: 9.0},
{x: 1.17, y: 6.0},
{x: 2.09, y: 10.0},
{x: 2.14, y: 11.0},
{x: 2.02, y: 11.0},
{x: 1.27, y: 9.0},
{x: 3.04, y: 14.0},
{x: 1.11, y: 8.0},
{x: 1.37, y: 9.0},
{x: 0.51, y: 5.0},
{x: 0.62, y: 10.0},
{x: 5.28, y: 12.0},
{x: 0.83, y: 9.0},
{x: 2.87, y: 9.0},
{x: 1.02, y: 10.0},
{x: 0.62, y: 5.0},
{x: 1.24, y: 14.0},
{x: 2.17, y: 10.0},
{x: 1.23, y: 3.0},
{x: 0.91, y: 1.0},
{x: 3.51, y: 3.0},
{x: 1.76, y: 5.0},
{x: 1.85, y: 1.0},
{x: 2.27, y: 2.0},
{x: 2.84, y: 9.0},
{x: 0.93, y: 8.0},
{x: 1.25, y: 13.0},
{x: 0.92, y: 11.0},
{x: 0.84, y: 10.0},
{x: 0.71, y: 4.0},
{x: 1.87, y: 9.0},
{x: 2.47, y: 8.0},
{x: 3.75, y: 10.0},
{x: 1.92, y: 8.0},
{x: 0.87, y: 12.0},
{x: 1.2, y: 6.0},
{x: 1.2, y: 5.0},
{x: 1.32, y: 9.0},
{x: 2.83, y: 8.0},
{x: 5.68, y: 6.0},
{x: 0.96, y: 8.0},
{x: 0.66, y: 4.0},
{x: 1.05, y: 5.0},
{x: 1.35, y: 5.0},
{x: 1.42, y: 8.0},
{x: 1.04, y: 8.0},
{x: 0.6, y: 6.0},
{x: 1.76, y: 7.0},
{x: 1.62, y: 2.0},
{x: 0.64, y: 7.0},
{x: 5.52, y: 16.0},
{x: 3.92, y: 13.0},
{x: 3.53, y: 5.0},
{x: 2.68, y: 9.0},
{x: 0.92, y: 7.0},
{x: 3.09, y: 5.0},
{x: 1.12, y: 5.0},
{x: 3.06, y: 9.0},
{x: 1.83, y: 11.0},
{x: 1.9, y: 6.0},
{x: 3.58, y: 14.0},
{x: 4.03, y: 8.0},
{x: 4.67, y: 14.0},
{x: 0.6, y: 5.0},
{x: 0.86, y: 5.0},
{x: 0.8, y: 8.0},
{x: 1.92, y: 11.0},
{x: 0.31, y: 7.0},
{x: 0.96, y: 8.0},
{x: 1.48, y: 10.0},
{x: 0.99, y: 7.0},
{x: 1.63, y: 12.0},
{x: 1.05, y: 8.0},
{x: 1.12, y: 8.0},
{x: 1.34, y: 8.0},
{x: 0.75, y: 1.0},
{x: 0.6, y: 7.0},
{x: 2.2, y: 14.0},
{x: 1.63, y: 9.0},
{x: 4.34, y: 6.0},
{x: 0.87, y: 7.0},
{x: 2.19, y: 8.0},
{x: 1.44, y: 7.0},
{x: 2.13, y: 9.0},
{x: 1.92, y: 10.0},
{x: 3.13, y: 11.0},
{x: 1.68, y: 4.0},
{x: 1.08, y: 9.0},
{x: 2.0, y: 13.0},
{x: 0.96, y: 10.0},
{x: 0.8, y: 8.0},
{x: 1.02, y: 10.0},
{x: 3.57, y: 15.0},
{x: 1.24, y: 10.0},
{x: 1.12, y: 9.0},
{x: 1.34, y: 8.0},
{x: 0.42, y: 2.0},
{x: 1.0, y: 10.0},
{x: 1.16, y: 15.0},
{x: 0.8, y: 9.0},
{x: 2.55, y: 7.0},
{x: 1.45, y: 13.0},
{x: 3.81, y: 12.0},
{x: 10.69, y: 7.0},
{x: 7.75, y: 9.0},
{x: 8.23, y: 8.0},
{x: 8.43, y: 10.0},
{x: 5.32, y: 10.0},
{x: 6.34, y: 5.0},
{x: 7.48, y: 5.0},
{x: 6.19, y: 2.0},
{x: 5.37, y: 7.0},
{x: 6.73, y: 8.0},
{x: 5.99, y: 9.0},
{x: 4.81, y: 6.0},
{x: 5.76, y: 7.0},
{x: 4.06, y: 6.0},
{x: 2.17, y: 8.0},
{x: 6.95, y: 10.0},
{x: 6.48, y: 10.0},
{x: 8.12, y: 12.0},
{x: 4.86, y: 7.0},
{x: 6.55, y: 18.0},
{x: 5.12, y: 4.0},
{x: 5.64, y: 10.0},
{x: 5.18, y: 12.0},
{x: 2.72, y: 7.0},
{x: 3.89, y: 8.0},
{x: 4.75, y: 6.0},
{x: 2.95, y: 6.0},
{x: 5.82, y: 11.0},
{x: 5.92, y: 12.0},
{x: 4.09, y: 10.0},
{x: 5.52, y: 10.0},
{x: 8.34, y: 12.0},
{x: 3.0, y: 3.0},
{x: 5.96, y: 9.0},
{x: 4.77, y: 9.0},
{x: 3.83, y: 7.0},
{x: 5.08, y: 10.0},
{x: 5.08, y: 8.0},
{x: 5.13, y: 3.0},
{x: 2.55, y: 2.0},
{x: 4.95, y: 12.0},
{x: 5.94, y: 12.0},
{x: 7.44, y: 17.0},
{x: 4.6, y: 12.0},
{x: 5.11, y: 6.0},
{x: 5.52, y: 11.0},
{x: 3.77, y: 6.0},
{x: 4.49, y: 10.0},
{x: 3.52, y: 10.0},
{x: 3.56, y: 8.0},
{x: 0.48, y: 9.0},
{x: 1.28, y: 9.0},
{x: 2.86, y: 28.0},
{x: 1.13, y: 10.0},
{x: 4.33, y: 6.0},
{x: 4.45, y: 8.0},
{x: 5.54, y: 10.0},
{x: 5.2, y: 11.0},
{x: 4.48, y: 9.0},
{x: 0.53, y: 4.0},
{x: 3.4, y: 1.0},
{x: 5.79, y: 5.0},
{x: 5.1, y: 8.0},
{x: 5.82, y: 14.0},
{x: 4.57, y: 12.0},
{x: 2.93, y: 3.0},
{x: 7.61, y: 10.0},
{x: 4.04, y: 2.0},
{x: 5.67, y: 11.0},
{x: 3.71, y: 5.0},
{x: 3.68, y: 7.0},
{x: 4.1, y: 11.0},
{x: 4.17, y: 4.0},
{x: 5.34, y: 1.0},
{x: 1.22, y: 5.0},
{x: 5.86, y: 2.0},
{x: 5.23, y: 10.0},
{x: 4.37, y: 15.0},
{x: 4.8, y: 12.0},
{x: 0.31, y: 4.0},
{x: 0.37, y: 7.0},
{x: 0.68, y: 9.0},
{x: 4.4, y: 5.0},
{x: 4.01, y: 6.0},
{x: 4.02, y: 7.0},
{x: 4.02, y: 12.0},
{x: 4.77, y: 9.0},
{x: 3.03, y: 3.0},
{x: 3.82, y: 11.0},
{x: 3.35, y: 6.0},
{x: 5.28, y: 6.0},
{x: 1.05, y: 8.0},
{x: 0.44, y: 11.0},
{x: 0.88, y: 7.0},
{x: 3.84, y: 13.0},
{x: 3.0, y: 3.0},
{x: 2.61, y: 6.0},
{x: 3.83, y: 9.0},
{x: 4.02, y: 9.0},
{x: 4.94, y: 7.0},
{x: 4.06, y: 10.0},
{x: 2.89, y: 2.0},
{x: 4.03, y: 5.0},
{x: 5.8, y: 7.0},
{x: 4.25, y: 6.0},
{x: 2.53, y: 5.0},
{x: 4.56, y: 5.0},
{x: 0.71, y: 7.0},
{x: 2.97, y: 3.0},
{x: 3.85, y: 6.0},
{x: 2.04, y: 6.0},
{x: 1.41, y: 11.0},
{x: 0.72, y: 7.0},
{x: 0.63, y: 13.0},
{x: 1.05, y: 11.0},
{x: 0.67, y: 5.0},
{x: 0.56, y: 12.0},
{x: 0.52, y: 8.0},
{x: 0.72, y: 5.0},
{x: 1.34, y: 18.0},
{x: 0.73, y: 10.0},
{x: 0.37, y: 3.0},
{x: 1.27, y: 5.0},
{x: 0.67, y: 14.0},
{x: 1.3, y: 7.0},
{x: 1.07, y: 6.0},
{x: 0.75, y: 14.0},
{x: 0.85, y: 16.0},
{x: 1.4, y: 7.0},
{x: 0.44, y: 4.0},
{x: 0.3, y: 4.0},
{x: 0.5, y: 12.0},
{x: 0.42, y: 14.0},
{x: 0.9, y: 8.0},
{x: 1.66, y: 19.0},
{x: 4.11, y: 6.0},
{x: 3.65, y: 6.0},
{x: 3.94, y: 8.0},
{x: 5.65, y: 16.0},
{x: 4.59, y: 14.0},
{x: 1.25, y: 4.0},
{x: 1.44, y: 5.0},
{x: 5.92, y: 15.0},
{x: 6.93, y: 7.0},
{x: 3.12, y: 1.0},
{x: 4.56, y: 8.0},
{x: 7.5, y: 6.0},
{x: 6.12, y: 2.0},
{x: 4.4, y: 1.0},
{x: 2.82, y: 3.0},
{x: 3.54, y: 5.0},
{x: 3.43, y: 3.0},
{x: 3.98, y: 7.0},
{x: 3.69, y: 5.0},
{x: 2.75, y: 3.0},
{x: 2.53, y: 6.0},
{x: 3.31, y: 6.0},
{x: 3.51, y: 4.0},
{x: 3.79, y: 5.0},
{x: 4.03, y: 3.0},
{x: 2.81, y: 8.0},
{x: 6.06, y: 6.0},
{x: 1.77, y: 3.0},
{x: 3.74, y: 4.0},
{x: 6.12, y: 17.0},
{x: 2.14, y: 1.0},
{x: 3.83, y: 15.0},
{x: 3.89, y: 6.0},
{x: 5.63, y: 18.0},
{x: 2.41, y: 3.0},
{x: 2.68, y: 5.0},
{x: 3.28, y: 9.0},
{x: 3.14, y: 5.0},
{x: 3.26, y: 3.0},
{x: 3.65, y: 4.0},
{x: 0.9, y: 5.0},
{x: 0.93, y: 7.0},
{x: 4.4, y: 3.0},
{x: 3.51, y: 13.0},
{x: 3.85, y: 6.0},
{x: 4.85, y: 5.0},
{x: 6.57, y: 18.0},
{x: 2.51, y: 4.0},
{x: 3.94, y: 6.0},
{x: 5.01, y: 5.0},
{x: 6.17, y: 13.0},
{x: 4.98, y: 23.0},
{x: 3.97, y: 8.0},
{x: 0.62, y: 7.0},
{x: 3.76, y: 6.0},
{x: 4.82, y: 8.0},
{x: 4.55, y: 7.0},
{x: 4.94, y: 11.0},
{x: 2.47, y: 1.0},
{x: 3.79, y: 13.0},
{x: 0.09, y: 3.0},
{x: 0.81, y: 8.0},
{x: 0.5, y: 5.0},
{x: 0.71, y: 14.0},
{x: 0.67, y: 5.0},
{x: 0.64, y: 6.0},
{x: 0.7, y: 9.0},
{x: 0.13, y: 4.0},
{x: 0.73, y: 6.0},
{x: 4.79, y: 10.0},
{x: 3.93, y: 5.0},
{x: 3.92, y: 5.0},
{x: 6.47, y: 5.0},
{x: 4.17, y: 9.0},
{x: 6.41, y: 6.0},
{x: 8.48, y: 5.0},
{x: 2.48, y: 7.0},
{x: 6.42, y: 6.0},
{x: 4.57, y: 7.0},
{x: 5.03, y: 4.0},
{x: 5.83, y: 9.0},
{x: 6.59, y: 6.0},
{x: 6.9, y: 5.0},
{x: 4.61, y: 8.0},
{x: 5.0, y: 7.0},
{x: 2.31, y: 8.0},
{x: 3.37, y: 10.0},
{x: 5.76, y: 22.0},
{x: 1.7, y: 1.0},
{x: 0.42, y: 11.0},
{x: 5.94, y: 7.0},
{x: 4.98, y: 4.0},
{x: 4.67, y: 6.0},
{x: 4.99, y: 8.0},
{x: 5.6, y: 3.0},
{x: 1.34, y: 3.0},
{x: 0.42, y: 5.0},
{x: 2.55, y: 1.0},
{x: 4.13, y: 4.0},
{x: 5.86, y: 8.0},
{x: 4.7, y: 18.0},
{x: 4.57, y: 3.0},
{x: 4.21, y: 2.0},
{x: 2.96, y: 1.0},
{x: 5.53, y: 6.0},
{x: 6.17, y: 8.0},
{x: 2.67, y: 9.0},
{x: 3.57, y: 3.0},
{x: 3.03, y: 4.0},
{x: 0.97, y: 17.0},
{x: 0.4, y: 5.0},
{x: 2.72, y: 20.0},
{x: 3.4, y: 17.0},
{x: 1.08, y: 13.0},
{x: 0.64, y: 8.0},
{x: 1.79, y: 12.0},
{x: 1.98, y: 6.0},
{x: 0.53, y: 12.0},
{x: 1.9, y: 13.0},
{x: 0.27, y: 10.0},
{x: 1.75, y: 23.0},
{x: 1.63, y: 15.0},
{x: 2.04, y: 17.0},
{x: 4.65, y: 7.0},
{x: 1.74, y: 17.0},
{x: 1.39, y: 14.0},
{x: 4.19, y: 19.0},
{x: 1.04, y: 9.0},
{x: 1.91, y: 8.0},
{x: 1.49, y: 7.0},
{x: 1.07, y: 15.0},
{x: 0.97, y: 6.0},
{x: 2.33, y: 6.0},
{x: 1.4, y: 10.0},
{x: 0.69, y: 3.0},
{x: 1.31, y: 6.0},
{x: 0.93, y: 5.0},
{x: 0.36, y: 9.0},
{x: 0.58, y: 18.0},
{x: 0.95, y: 5.0},
{x: 1.03, y: 5.0},
{x: 1.45, y: 4.0},
{x: 1.36, y: 6.0},
{x: 1.52, y: 9.0},
{x: 0.27, y: 7.0},
{x: 0.27, y: 6.0},
{x: 1.14, y: 7.0},
{x: 1.37, y: 13.0},
{x: 1.76, y: 8.0},
{x: 1.15, y: 6.0},
{x: 0.95, y: 8.0},
{x: 2.15, y: 13.0},
{x: 0.43, y: 6.0},
{x: 1.24, y: 3.0},
{x: 0.98, y: 5.0},
{x: 1.75, y: 10.0},
{x: 1.09, y: 5.0},
{x: 2.31, y: 6.0},
{x: 0.78, y: 13.0},
{x: 1.7, y: 15.0},
{x: 0.41, y: 3.0},
{x: 1.2, y: 8.0},
{x: 1.66, y: 7.0},
{x: 2.27, y: 7.0},
{x: 1.06, y: 6.0},
{x: 1.28, y: 7.0},
{x: 0.49, y: 11.0},
{x: 2.02, y: 12.0},
{x: 2.05, y: 9.0},
{x: 1.5, y: 16.0},
{x: 1.34, y: 10.0},
{x: 1.03, y: 4.0},
{x: 1.44, y: 6.0},
{x: 1.55, y: 12.0},
{x: 0.63, y: 4.0},
{x: 2.66, y: 6.0},
{x: 1.71, y: 15.0},
{x: 2.07, y: 8.0},
{x: 0.82, y: 5.0},
{x: 2.07, y: 5.0},
{x: 0.85, y: 4.0},
{x: 1.06, y: 4.0},
{x: 1.32, y: 10.0},
{x: 1.66, y: 6.0},
{x: 0.61, y: 9.0},
{x: 1.46, y: 8.0},
{x: 0.44, y: 1.0},
{x: 0.59, y: 10.0},
{x: 1.98, y: 3.0},
{x: 1.88, y: 7.0},
{x: 0.72, y: 1.0},
{x: 1.62, y: 7.0},
{x: 0.71, y: 5.0},
{x: 0.17, y: 3.0},
{x: 1.94, y: 3.0},
{x: 1.2, y: 10.0},
{x: 1.81, y: 3.0},
{x: 0.52, y: 3.0},
{x: 1.61, y: 8.0},
{x: 0.66, y: 4.0},
{x: 0.7, y: 9.0},
{x: 0.99, y: 10.0},
{x: 1.95, y: 4.0},
{x: 3.01, y: 4.0},
{x: 1.96, y: 9.0},
{x: 1.61, y: 5.0},
{x: 0.76, y: 5.0},
{x: 0.72, y: 8.0},
{x: 0.68, y: 12.0},
{x: 0.65, y: 3.0},
{x: 0.11, y: 3.0},
{x: 1.06, y: 5.0},
{x: 0.35, y: 5.0},
{x: 0.39, y: 5.0},
{x: 4.16, y: 7.0},
{x: 0.39, y: 1.0},
{x: 0.27, y: 7.0},
{x: 0.64, y: 5.0},
{x: 0.8, y: 8.0},
{x: 0.79, y: 4.0},
{x: 1.4, y: 20.0},
{x: 4.5, y: 19.0},
{x: 11.08, y: 16.0},
{x: 4.07, y: 24.0},
{x: 4.15, y: 10.0},
{x: 3.25, y: 17.0},
{x: 3.45, y: 27.0},
{x: 2.15, y: 17.0},
{x: 3.8, y: 15.0},
{x: 2.43, y: 26.0},
{x: 2.4, y: 19.0},
{x: 4.14, y: 21.0},
{x: 2.98, y: 16.0},
{x: 4.03, y: 15.0},
{x: 4.39, y: 25.0},
{x: 4.02, y: 16.0},
{x: 1.62, y: 19.0},
{x: 1.47, y: 13.0},
{x: 2.84, y: 13.0},
{x: 6.69, y: 37.0},
{x: 3.5, y: 14.0},
{x: 4.5, y: 19.0},
{x: 4.31, y: 23.0},
{x: 3.54, y: 7.0},
{x: 2.09, y: 14.0},
{x: 2.94, y: 21.0},
{x: 2.96, y: 30.0},
{x: 3.42, y: 23.0},
{x: 5.58, y: 28.0},
{x: 5.34, y: 16.0},
{x: 6.08, y: 13.0},
{x: 2.75, y: 18.0},
{x: 2.53, y: 16.0},
{x: 3.36, y: 14.0},
{x: 4.36, y: 14.0},
{x: 4.07, y: 13.0},
{x: 0.91, y: 4.0},
{x: 0.86, y: 5.0},
{x: 2.18, y: 17.0},
{x: 2.38, y: 12.0},
{x: 5.15, y: 11.0},
{x: 4.01, y: 10.0},
{x: 4.51, y: 16.0},
{x: 3.39, y: 10.0},
{x: 3.57, y: 11.0},
{x: 4.75, y: 22.0},
{x: 1.57, y: 5.0},
{x: 5.48, y: 24.0},
{x: 4.71, y: 24.0},
{x: 2.12, y: 9.0},
{x: 1.33, y: 9.0},
{x: 0.06, y: 2.0},
{x: 6.05, y: 19.0},
{x: 4.03, y: 13.0},
{x: 3.4, y: 28.0},
{x: 0.83, y: 8.0},
{x: 0.39, y: 6.0},
{x: 0.94, y: 9.0},
{x: 0.33, y: 5.0},
{x: 3.5, y: 15.0},
{x: 7.14, y: 23.0},
{x: 5.11, y: 19.0},
{x: 1.54, y: 8.0},
{x: 5.24, y: 16.0},
{x: 1.86, y: 9.0},
{x: 3.62, y: 12.0},
{x: 3.49, y: 20.0},
{x: 5.95, y: 23.0},
{x: 3.78, y: 23.0},
{x: 4.64, y: 16.0},
{x: 3.78, y: 26.0},
{x: 0.4, y: 8.0},
{x: 0.53, y: 9.0},
{x: 3.62, y: 14.0},
{x: 4.2, y: 22.0},
{x: 3.93, y: 15.0},
{x: 8.41, y: 40.0},
{x: 4.87, y: 26.0},
{x: 3.53, y: 14.0},
{x: 3.14, y: 7.0},
{x: 2.03, y: 21.0},
{x: 3.93, y: 12.0},
{x: 6.6, y: 16.0},
{x: 2.71, y: 17.0},
{x: 0.39, y: 1.0},
{x: 0.71, y: 7.0},
{x: 0.51, y: 7.0},
{x: 2.35, y: 14.0},
{x: 3.4, y: 16.0},
{x: 5.32, y: 13.0},
{x: 6.32, y: 6.0},
{x: 6.79, y: 19.0},
{x: 2.59, y: 53.0},
{x: 2.68, y: 25.0},
{x: 1.44, y: 9.0},
{x: 3.67, y: 10.0},
{x: 1.48, y: 5.0},
{x: 0.71, y: 3.0},
{x: 0.5, y: 3.0},
{x: 0.29, y: 5.0},
{x: 2.78, y: 7.0},
{x: 3.38, y: 8.0},
{x: 5.48, y: 12.0},
{x: 7.44, y: 16.0},
{x: 7.08, y: 11.0},
{x: 8.92, y: 18.0},
{x: 2.14, y: 8.0},
{x: 0.77, y: 4.0},
{x: 2.25, y: 15.0},
{x: 2.56, y: 12.0},
{x: 4.76, y: 22.0},
{x: 0.32, y: 4.0},
{x: 3.49, y: 12.0},
{x: 1.34, y: 18.0},
{x: 1.03, y: 7.0},
{x: 0.37, y: 6.0},
{x: 0.55, y: 5.0},
{x: 1.36, y: 9.0},
{x: 0.77, y: 5.0},
{x: 0.38, y: 3.0},
{x: 1.09, y: 2.0},
{x: 0.24, y: 1.0},
{x: 0.69, y: 15.0},
{x: 0.75, y: 10.0},
{x: 0.33, y: 8.0},
{x: 0.3, y: 5.0},
{x: 1.29, y: 5.0},
{x: 0.57, y: 9.0},
{x: 1.47, y: 15.0},
{x: 1.43, y: 17.0},
{x: 1.53, y: 15.0},
{x: 1.32, y: 7.0},
{x: 1.37, y: 9.0},
{x: 1.57, y: 6.0},
{x: 3.89, y: 9.0},
{x: 4.09, y: 9.0},
{x: 3.25, y: 11.0},
{x: 2.72, y: 11.0},
{x: 2.97, y: 12.0},
{x: 0.83, y: 2.0},
{x: 1.11, y: 4.0},
{x: 4.01, y: 14.0},
{x: 3.23, y: 9.0},
{x: 2.51, y: 9.0},
{x: 3.67, y: 2.0},
{x: 0.29, y: 4.0},
{x: 3.06, y: 14.0},
{x: 2.7, y: 8.0},
{x: 4.95, y: 13.0},
{x: 3.54, y: 4.0},
{x: 3.81, y: 5.0},
{x: 2.53, y: 5.0},
{x: 2.97, y: 9.0},
{x: 3.75, y: 10.0},
{x: 0.54, y: 4.0},
{x: 3.13, y: 10.0},
{x: 2.67, y: 8.0},
{x: 4.1, y: 7.0},
{x: 3.22, y: 8.0},
{x: 0.94, y: 7.0},
{x: 5.58, y: 11.0},
{x: 1.58, y: 4.0},
{x: 5.18, y: 15.0},
{x: 3.56, y: 10.0},
{x: 3.1, y: 13.0},
{x: 1.57, y: 8.0},
{x: 2.38, y: 16.0},
{x: 1.39, y: 3.0},
{x: 1.15, y: 6.0},
{x: 4.27, y: 13.0},
{x: 1.83, y: 7.0},
{x: 2.42, y: 7.0},
{x: 1.83, y: 5.0},
{x: 1.44, y: 5.0},
{x: 1.23, y: 7.0},
{x: 1.98, y: 9.0},
{x: 2.35, y: 17.0},
{x: 2.22, y: 7.0},
{x: 2.87, y: 13.0},
{x: 1.66, y: 3.0},
{x: 1.39, y: 7.0},
{x: 1.17, y: 10.0},
{x: 2.56, y: 11.0},
{x: 5.17, y: 8.0},
{x: 2.71, y: 8.0},
{x: 4.22, y: 10.0},
{x: 1.73, y: 7.0},
{x: 1.4, y: 6.0},
{x: 1.3, y: 4.0},
{x: 0.72, y: 4.0},
{x: 3.42, y: 8.0},
{x: 3.62, y: 7.0},
{x: 2.12, y: 5.0},
{x: 2.99, y: 7.0},
{x: 1.14, y: 3.0},
{x: 0.28, y: 5.0},
{x: 0.15, y: 1.0},
{x: 1.17, y: 3.0},
{x: 0.3, y: 1.0},
{x: 1.39, y: 1.0},
{x: 0.48, y: 2.0},
{x: 0.35, y: 1.0},
{x: 0.49, y: 7.0},
{x: 3.33, y: 11.0},
{x: 2.49, y: 5.0},
{x: 3.34, y: 4.0},
{x: 4.92, y: 8.0},
{x: 3.33, y: 4.0},
{x: 3.51, y: 14.0},
{x: 0.21, y: 2.0},
{x: 3.87, y: 14.0},
{x: 4.72, y: 11.0},
{x: 3.46, y: 6.0},
{x: 3.68, y: 12.0},
{x: 0.95, y: 5.0},
{x: 0.38, y: 4.0},
{x: 0.47, y: 7.0},
{x: 4.09, y: 11.0},
{x: 4.29, y: 16.0},
{x: 2.65, y: 9.0},
{x: 4.0, y: 11.0},
{x: 2.47, y: 8.0},
{x: 2.4, y: 6.0},
{x: 3.19, y: 10.0},
{x: 4.51, y: 16.0},
{x: 3.97, y: 7.0},
{x: 3.04, y: 7.0},
{x: 4.37, y: 17.0},
{x: 1.42, y: 3.0},
{x: 0.78, y: 8.0},
{x: 3.28, y: 19.0},
{x: 3.94, y: 13.0},
{x: 2.52, y: 6.0},
{x: 2.49, y: 6.0},
{x: 1.59, y: 3.0},
{x: 2.75, y: 7.0},
{x: 1.5, y: 6.0},
{x: 0.68, y: 6.0},
{x: 2.13, y: 10.0},
{x: 0.77, y: 2.0},
{x: 3.82, y: 8.0},
{x: 2.99, y: 14.0},
{x: 4.13, y: 7.0},
{x: 0.21, y: 3.0},
{x: 0.87, y: 2.0},
{x: 0.94, y: 6.0},
{x: 1.65, y: 7.0},
{x: 1.01, y: 5.0},
{x: 0.73, y: 6.0},
{x: 1.41, y: 4.0},
{x: 0.92, y: 2.0},
{x: 2.98, y: 12.0},
{x: 0.23, y: 3.0},
{x: 0.47, y: 3.0},
{x: 0.69, y: 6.0},
{x: 0.39, y: 4.0},
{x: 1.09, y: 9.0},
{x: 4.41, y: 7.0},
{x: 0.5, y: 8.0},
{x: 1.18, y: 8.0},
{x: 2.24, y: 7.0},
{x: 1.18, y: 5.0},
{x: 0.79, y: 7.0},
{x: 0.6, y: 7.0},
{x: 1.72, y: 9.0},
{x: 1.32, y: 5.0},
{x: 2.19, y: 5.0},
{x: 2.35, y: 11.0},
{x: 4.57, y: 5.0},
{x: 1.65, y: 4.0},
{x: 2.67, y: 18.0},
{x: 1.89, y: 35.0},
{x: 1.68, y: 17.0},
{x: 1.25, y: 2.0},
{x: 1.96, y: 4.0},
{x: 1.68, y: 6.0},
{x: 1.6, y: 4.0},
{x: 0.73, y: 2.0},
{x: 0.69, y: 3.0},
{x: 1.95, y: 2.0},
{x: 1.58, y: 3.0},
{x: 2.25, y: 2.0},
{x: 0.91, y: 2.0},
{x: 1.79, y: 6.0},
{x: 1.14, y: 4.0},
{x: 2.41, y: 5.0},
{x: 4.52, y: 8.0},
{x: 2.11, y: 13.0},
{x: 2.14, y: 6.0},
{x: 0.99, y: 1.0},
{x: 1.53, y: 8.0},
{x: 1.95, y: 2.0},
{x: 2.86, y: 2.0},
{x: 4.19, y: 4.0},
{x: 1.75, y: 4.0},
{x: 1.71, y: 3.0},
{x: 1.78, y: 2.0},
{x: 2.63, y: 4.0},
{x: 2.66, y: 3.0},
{x: 1.96, y: 7.0},
{x: 1.59, y: 1.0},
{x: 2.3, y: 2.0},
{x: 2.0, y: 4.0},
{x: 2.07, y: 5.0},
{x: 0.68, y: 1.0},
{x: 1.78, y: 4.0},
{x: 1.69, y: 2.0},
{x: 1.88, y: 5.0},
{x: 1.55, y: 7.0},
{x: 1.78, y: 4.0},
{x: 0.82, y: 3.0},
{x: 1.48, y: 8.0},
{x: 1.86, y: 5.0},
{x: 1.88, y: 3.0},
{x: 1.44, y: 3.0},
{x: 1.07, y: 3.0},
{x: 1.29, y: 3.0},
{x: 0.34, y: 5.0},
{x: 2.34, y: 3.0},
{x: 1.4, y: 4.0},
{x: 2.46, y: 1.0},
{x: 1.26, y: 2.0},
{x: 1.42, y: 4.0},
{x: 0.98, y: 3.0},
{x: 7.14, y: 8.0},
{x: 1.78, y: 20.0},
{x: 1.61, y: 4.0},
{x: 2.11, y: 12.0},
{x: 1.34, y: 2.0},
{x: 1.52, y: 3.0},
{x: 1.41, y: 4.0},
{x: 0.44, y: 4.0},
{x: 0.51, y: 4.0},
{x: 1.84, y: 4.0},
{x: 1.59, y: 2.0},
{x: 2.27, y: 5.0},
{x: 1.69, y: 2.0},
{x: 1.14, y: 5.0},
{x: 1.83, y: 4.0},
{x: 0.3, y: 3.0},
{x: 1.95, y: 5.0},
{x: 2.09, y: 4.0},
{x: 1.64, y: 9.0},
{x: 0.63, y: 4.0},
{x: 1.31, y: 14.0},
{x: 1.21, y: 9.0},
{x: 2.65, y: 10.0},
{x: 1.5, y: 11.0},
{x: 0.79, y: 6.0},
{x: 1.28, y: 10.0},
{x: 1.01, y: 5.0},
{x: 1.6, y: 20.0},
{x: 1.74, y: 6.0},
{x: 5.64, y: 13.0},
{x: 2.45, y: 11.0},
{x: 5.05, y: 16.0},
{x: 3.28, y: 15.0},
{x: 2.85, y: 4.0}]
        }]
    },
    options: {
      legend: {
            display: false
         },
      title: {
            display: true,
            text: 'Miles Walked Vs. Flights Climbed By Day'
        },
        scales: {
          yAxes: [{
     scaleLabel: {
       display: true,
       labelString: 'Flights Climbed'
     }
   }],
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Miles Tracked'
              },
                type: 'linear',
                position: 'bottom'

               }]
        }
    }
});
</script>
