<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <%= link_to(projects_path, class: "button is-black is-outlined") do %>
                        <span class="icon has-text-info">
                            <i class="fa fa-superpowers"></i>
                        </span>
                        <span>Projects</span>
                    <% end %>
                </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
  <div class="content is-size-6 offset fadein">
        <div class="container">
          <h1 class="title is-2">
          Data Mining Apple Health App Data
          </h1>
          <h2 class="subtitle is-4">3 Years Contained Analyzed with Python Pandas</h2>
        </div>

    <div class="introduction box">
      <ul>
        <li>How much do I walk regularly?</li>
        <li>Do I walk more or less on weekends?</li>
        <li>Do I walk more or less during the school year?</li>
        <li>Are there anomalies that I can find?</li>
      </ul>

    <p><a href="http://ericwolter.com/projects/health-export.html" target="_blank">this</a> free tool to convert XML to CSV format</p>

    <p>First, I took a look at RunningWalking.csv. The data starts in May of 2015
    and continues to the present day.</p>
    </div>

    <div class="columns">
      <div class="column">
        <canvas id="yearWalk" width="350" height="200"></canvas>
      </div>
      <div class="column is-two-thirds">
          <%= image_tag("boxplot.png") %>
      </div>
    </div>
    <div class="columns box">
      <div class="column">
        I walked nearly the same amount in 2016 and 2017, and I'm on pace to be similar in 2018
      </div>
      <div class="column">
        A boxplot of miles per day, gives a nice summary of
        the spread and outliers. I walked more than 2.04
        miles 50% of days recorded

      </div>
      <div class="column">
          <strong>Min</strong> - 0.034 miles <br>
          <strong>Median</strong> - 2.04 miles <br>
          <strong>Max</strong> - 11.07 miles<br>
      </div>
    </div>

    <br>
    <div class="columns">

      <div class="column box">
        <br>
        <ul>
          <li>In September of 2016 I walked <strong>150 miles</strong></li>
          <ul>
            <li>This was my first full month of college living on OSU campus.
            Not knowing my way around contributed to a lot of wandering </li>
          </ul>
          <li>In June of 2017 I only walked <strong>38 miles</strong></li>
          <ul>
            <li>This Summer I had a short driving commute to work and
            if I went out, I rarely took my phone with me.  </li>
          </ul>
        </ul>

      </div>
      <div class="column is-two-thirds">
                <canvas id="monthWalk"  width="800" height="400"></canvas>
</div>

  </div>
  <div class="columns">
    <div class="column">
      <h5 class="has-text-centered">May 2016 - August 2018</h5>
      <table border="1" class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">  <thead>    <tr style="text-align: right;">      <th>Day of Week</th>      <th>Avg Miles</th>    </tr>  </thead>  <tbody>    <tr>      <td>Monday</td>      <td>2.629187</td>    </tr>    <tr>      <td>Tuesday</td>      <td>2.878348</td>
      </tr>    <tr>      <td>Wednesday</td>      <td>2.941920</td>    </tr>    <tr>      <td>Thursday</td>      <td>2.717192</td>    </tr>    <tr>      <td>Friday</td>      <td>2.767765</td>    </tr>    <tr>      <td>Saturday</td>      <td>2.495019</td>    </tr>    <tr>      <td>Sunday</td>      <td>1.966756</td>    </tr>  </tbody></table>

    </div>
    <div class="column is-two-thirds box">
      <br>
      <ul>
        <li>Saturday and Sunday were the two lowest days</li>
        <ul>
          <li><strong>Sunday</strong> was the absolute lowest, to be expected as it always my day off</li>
        </ul>
        <li>My mean miles per day total was <strong>2.52 miles</strong></li>
        <ul>
          <li>This is a .5 miles increase from the median</li>
          <li>Miles per day are bunched more toward lower end of scale</li>
        </ul>
        <li>I walk most on <strong>Wednesday</strong></li>
      </ul>

    </div>


  </div>
  <div class="columns">
    <div class="column box">
      <br>
      <p>This is a direct comparison between miles walked and
      flight of stairs climbed. Initially, I expected there to be
      a strong correllation bewteen these variables. <br><br>Hypothesis: If one walks
      more miles, they walk up more stairs.<br><br>As it turns out, R^2 value is __.
      A relatively low correllation counteracts my intial idea.</p>
    </div>
    <div class="column is-two-thirds">
      <canvas id="scatter"  width="800" height="400"></canvas>

    </div>

  </div>
</div>
</div>
<script>

var ctx = document.getElementById("yearWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["2015","2016","2017","2018"],
        datasets: [{
            label: 'Miles',
            data: [581.1410155239014, 943.8845704491371, 976.5483752956964, 490.8902315179993],
            backgroundColor:   'rgba(255, 99, 132, 0.2)',
            borderColor:   'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
      title: {
            display: true,
            text: 'Miles Walked By Year'
        },
      legend: {
            display: false
         },
      responsive: true,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx = document.getElementById("monthWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Jan 2016","Feb 2016","Mar 2016","Apr 2016","May 2016","June 2016",'Jul 2016', 'Aug 2016', "Sep 2016",'Oct 2016','Nov 2016', "Dec 2016",
      "Jan 2017","Feb 2017","Mar 2017","Apr 2017","May 2017","June 2017",'Jul 2017', 'Aug 2017', "Sep 2017",'Oct 2017','Nov 2017', "Dec 2017"],
        datasets: [{
            label: 'Miles',
            data: [53.091276104000045,
                   53.365012904,
                   62.13963559233776,
                   49.99136019899997,
                   53.492864220999955,
                   54.66567237400004,
                   57.53019095100001,
                   111.8284194850002,
                   150.62394557960016,
                   131.66975511299987,
                   100.51984106299989,
                   64.96659686319995,
                   99.34404218160003,
                   99.73960077399975,
                   107.72694779300005,
                   115.94463400399991,
                   49.20620649329999,
                   38.646855183299955,
                   39.37169753009999,
                   72.22403724470001,
                   105.80690894859985,
                   98.10980704709989,
                   104.65047925799986,
                   45.777158838000055],
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
              borderColor: 'red',
            borderWidth: 1
        }]
    },
    options: {
      title: {
            display: true,
            text: 'Miles Walked By Month and Year 2016-2017'
        },
      legend: {
            display: false
         },
      responsive: true,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx = document.getElementById("scatter").getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {
        datasets: [{
            label: 'Miles, Stairs',
            borderColor: 'red',
				    backgroundColor: 'rgba(255, 99, 132, 0.2)',
            data: [{x: 1.8639949590000002, y: 6.0},
{x: 2.6878334440000002, y: 8.0},
{x: 1.7019731390000001, y: 10.0},
{x: 3.6471934400000006, y: 12.0},
{x: 2.130111973999999, y: 8.0},
{x: 1.8655795949999998, y: 10.0},
{x: 1.3393476740000003, y: 6.0},
{x: 1.8351637059999997, y: 12.0},
{x: 4.938550921000001, y: 21.0},
{x: 1.3506749370000002, y: 9.0},
{x: 2.5852262959999996, y: 8.0},
{x: 1.5571064619999997, y: 10.0},
{x: 1.0593267770000003, y: 6.0},
{x: 1.4077725050000003, y: 6.0},
{x: 4.531492007000001, y: 11.0},
{x: 6.606146142000001, y: 11.0},
{x: 6.545108269999998, y: 9.0},
{x: 2.2963346760000003, y: 5.0},
{x: 2.015109589, y: 5.0},
{x: 1.3125308020000004, y: 6.0},
{x: 2.5483933799999994, y: 9.0},
{x: 3.1407468880000002, y: 16.0},
{x: 2.034947387, y: 9.0},
{x: 1.2219313820000008, y: 12.0},
{x: 1.5032219250000003, y: 14.0},
{x: 1.9524891159999986, y: 6.0},
{x: 1.01198206, y: 4.0},
{x: 1.1488342, y: 7.0},
{x: 2.376211645, y: 8.0},
{x: 4.05844681, y: 21.0},
{x: 4.164443535999998, y: 10.0},
{x: 1.2509125950000002, y: 7.0},
{x: 3.991625536000001, y: 10.0},
{x: 1.2437723249999997, y: 9.0},
{x: 7.217757243, y: 9.0},
{x: 2.5194436770000004, y: 11.0},
{x: 1.6148783450000004, y: 13.0},
{x: 5.860917267999997, y: 10.0},
{x: 3.798766224000001, y: 10.0},
{x: 3.366378398, y: 20.0},
{x: 6.0608506570000005, y: 12.0},
{x: 1.6214403439999998, y: 10.0},
{x: 4.037734973, y: 10.0},
{x: 3.982568890999999, y: 8.0},
{x: 3.972452591999998, y: 13.0},
{x: 5.227488887000001, y: 12.0},
{x: 2.7310763360000005, y: 12.0},
{x: 7.473692196999999, y: 12.0},
{x: 2.1178903359999994, y: 8.0},
{x: 2.168835834999999, y: 10.0},
{x: 3.857885407999999, y: 33.0},
{x: 1.344218305, y: 14.0},
{x: 2.1566474589999998, y: 14.0},
{x: 4.131492196, y: 6.0},
{x: 4.240486831000001, y: 11.0},
{x: 2.094300353999999, y: 13.0},
{x: 1.2510108100000001, y: 14.0},
{x: 1.7385606319999998, y: 15.0},
{x: 2.638501316, y: 11.0},
{x: 4.713175731000001, y: 13.0},
{x: 3.3688091520000003, y: 6.0},
{x: 2.7779186619999985, y: 15.0},
{x: 5.258422162999999, y: 12.0},
{x: 4.3287605299999985, y: 11.0},
{x: 3.430747246, y: 5.0},
{x: 1.824175431, y: 12.0},
{x: 0.616113426, y: 7.0},
{x: 1.00330723, y: 9.0},
{x: 1.6239004970000002, y: 8.0},
{x: 3.212373024, y: 8.0},
{x: 8.567510743, y: 8.0},
{x: 4.853930721, y: 5.0},
{x: 4.677781382000002, y: 17.0},
{x: 2.47759282, y: 9.0},
{x: 4.658350834, y: 13.0},
{x: 1.3264862759999998, y: 5.0},
{x: 1.163217868, y: 9.0},
{x: 1.9009859989999995, y: 16.0},
{x: 2.103011655, y: 14.0},
{x: 2.7508029959999982, y: 13.0},
{x: 3.410354318999999, y: 13.0},
{x: 2.853248453000001, y: 13.0},
{x: 1.886860928, y: 6.0},
{x: 4.056807588, y: 14.0},
{x: 3.808100896, y: 9.0},
{x: 3.960247494999999, y: 11.0},
{x: 3.0442318550000005, y: 8.0},
{x: 4.071324423, y: 4.0},
{x: 2.9634824500000003, y: 9.0},
{x: 3.032742838, y: 6.0},
{x: 0.5752354569999998, y: 5.0},
{x: 3.328998263, y: 7.0},
{x: 2.4485059979999995, y: 7.0},
{x: 2.528213559999999, y: 6.0},
{x: 1.9389519450000003, y: 5.0},
{x: 2.678150634999999, y: 8.0},
{x: 2.453278176, y: 5.0},
{x: 1.374469741, y: 4.0},
{x: 2.5428181889999975, y: 9.0},
{x: 1.958507073999999, y: 7.0},
{x: 2.082488660000001, y: 6.0},
{x: 1.6985477109999998, y: 7.0},
{x: 3.5262608870000003, y: 4.0},
{x: 1.900057094, y: 4.0},
{x: 2.707036682999999, y: 14.0},
{x: 4.233128821000001, y: 15.0},
{x: 2.1681936510000006, y: 8.0},
{x: 1.8267043860000003, y: 8.0},
{x: 1.9210252559999998, y: 9.0},
{x: 3.2047060179999995, y: 6.0},
{x: 3.255967951000001, y: 8.0},
{x: 0.4855623480000002, y: 12.0},
{x: 2.6619205989999988, y: 6.0},
{x: 2.415430318999999, y: 8.0},
{x: 2.381099693, y: 11.0},
{x: 2.0906176720000005, y: 13.0},
{x: 4.172925997999999, y: 8.0},
{x: 1.8728979250000009, y: 7.0},
{x: 3.7257716829999996, y: 8.0},
{x: 5.198295623, y: 8.0},
{x: 2.344569582000001, y: 10.0},
{x: 2.858105272999999, y: 10.0},
{x: 1.9693427389999996, y: 9.0},
{x: 2.693970445, y: 7.0},
{x: 1.444555353, y: 13.0},
{x: 2.446439125999999, y: 13.0},
{x: 2.8380173480000006, y: 7.0},
{x: 2.8738753819999996, y: 13.0},
{x: 2.1430867099999986, y: 8.0},
{x: 2.694821141, y: 8.0},
{x: 6.235342270999997, y: 11.0},
{x: 1.1848535939999998, y: 9.0},
{x: 1.0811214340000002, y: 11.0},
{x: 2.5033686559999992, y: 10.0},
{x: 2.2875112429999995, y: 8.0},
{x: 2.2566462840000012, y: 5.0},
{x: 2.5304367380000015, y: 6.0},
{x: 3.0936300670000008, y: 9.0},
{x: 4.068396347999999, y: 7.0},
{x: 1.9100382799999995, y: 9.0},
{x: 3.171533594, y: 11.0},
{x: 3.0825648130000007, y: 12.0},
{x: 1.8417461339999999, y: 7.0},
{x: 4.552389236, y: 10.0},
{x: 2.655053396, y: 6.0},
{x: 2.3931944619999994, y: 6.0},
{x: 2.1664402760000003, y: 12.0},
{x: 1.684351768, y: 7.0},
{x: 2.618335433999999, y: 6.0},
{x: 2.5954460230000005, y: 4.0},
{x: 2.6004080379999985, y: 8.0},
{x: 4.630570086999998, y: 6.0},
{x: 2.157071609, y: 7.0},
{x: 1.169279728, y: 7.0},
{x: 2.361199522999998, y: 9.0},
{x: 1.9553560710000006, y: 10.0},
{x: 1.4568226290000001, y: 6.0},
{x: 1.8512655210000002, y: 11.0},
{x: 1.998192939, y: 9.0},
{x: 1.6980317409999999, y: 12.0},
{x: 2.0183594650000005, y: 10.0},
{x: 1.6652850760000006, y: 6.0},
{x: 2.778084699000001, y: 11.0},
{x: 2.0376260100000003, y: 13.0},
{x: 3.5684533789999997, y: 11.0},
{x: 2.745734435000001, y: 9.0},
{x: 3.0574785550000008, y: 9.0},
{x: 3.4063976310000013, y: 11.0},
{x: 1.8785484289999999, y: 6.0},
{x: 2.602297167999998, y: 8.0},
{x: 3.873171160000002, y: 9.0},
{x: 2.6613561949999993, y: 6.0},
{x: 3.479396190000001, y: 18.0},
{x: 2.2411973919999992, y: 6.0},
{x: 0.47618326199999994, y: 7.0},
{x: 2.0034445580000004, y: 9.0},
{x: 3.5727043760000003, y: 9.0},
{x: 1.7729670940000002, y: 9.0},
{x: 2.6656108139999986, y: 12.0},
{x: 2.3810771050000006, y: 9.0},
{x: 1.2565132880000003, y: 5.0},
{x: 0.7074067799999997, y: 5.0},
{x: 1.9002195889999995, y: 6.0},
{x: 10.320068821, y: 5.0},
{x: 3.0315508990000004, y: 1.0},
{x: 1.9778770099999996, y: 3.0},
{x: 0.5904465700000002, y: 3.0},
{x: 1.5854278479999995, y: 9.0},
{x: 1.2176627439000003, y: 12.0},
{x: 0.7659918060000003, y: 10.0},
{x: 2.7075092460000008, y: 12.0},
{x: 2.0269882569999997, y: 9.0},
{x: 1.7193156660000004, y: 11.0},
{x: 1.7171817830000007, y: 13.0},
{x: 2.5554343389999987, y: 18.0},
{x: 1.4962015540000002, y: 15.0},
{x: 1.8226072940000004, y: 6.0},
{x: 2.5389599360000004, y: 8.0},
{x: 2.5762467890000007, y: 9.0},
{x: 2.397414274999999, y: 7.0},
{x: 1.8519544189999997, y: 10.0},
{x: 3.1872291049999992, y: 10.0},
{x: 4.4280761239999995, y: 12.0},
{x: 1.8411728719999998, y: 6.0},
{x: 1.998929635999999, y: 10.0},
{x: 1.7239583389999997, y: 15.0},
{x: 1.7089994410000007, y: 4.0},
{x: 1.3270776830000002, y: 6.0},
{x: 1.0126740179999996, y: 6.0},
{x: 1.5335271719999999, y: 7.0},
{x: 0.5604909730000002, y: 9.0},
{x: 1.3300238899999997, y: 9.0},
{x: 3.8042065750000003, y: 8.0},
{x: 1.636594653, y: 5.0},
{x: 1.9693817969999998, y: 14.0},
{x: 1.1151028889999994, y: 2.0},
{x: 2.1216879610000006, y: 8.0},
{x: 0.9457373470000001, y: 7.0},
{x: 1.02678487, y: 7.0},
{x: 1.6016519860000005, y: 14.0},
{x: 1.29161999, y: 10.0},
{x: 1.6711274189999998, y: 15.0},
{x: 0.8074259229999999, y: 4.0},
{x: 0.33460581, y: 4.0},
{x: 2.47887907, y: 9.0},
{x: 2.017638817000001, y: 6.0},
{x: 1.7120407640000004, y: 8.0},
{x: 2.445839580000001, y: 10.0},
{x: 2.1560662699999997, y: 9.0},
{x: 1.3849853260000005, y: 9.0},
{x: 1.1053473400000005, y: 9.0},
{x: 2.2032997229999993, y: 6.0},
{x: 1.4256458969999999, y: 8.0},
{x: 1.6246042310000002, y: 9.0},
{x: 2.538411383, y: 9.0},
{x: 1.516674774, y: 11.0},
{x: 1.1968120670000002, y: 3.0},
{x: 1.0530018999999997, y: 6.0},
{x: 0.7212996590000004, y: 6.0},
{x: 2.1239473339999995, y: 8.0},
{x: 1.750381852, y: 10.0},
{x: 3.5627538930000013, y: 10.0},
{x: 1.7369371740000001, y: 4.0},
{x: 0.9990575650000001, y: 9.0},
{x: 1.407983657, y: 9.0},
{x: 2.4941960980000006, y: 7.0},
{x: 1.7802312300000003, y: 14.0},
{x: 1.9355949290000005, y: 10.0},
{x: 1.480427159, y: 11.0},
{x: 2.4294799640000004, y: 12.0},
{x: 1.6975407680000005, y: 7.0},
{x: 1.299038528, y: 8.0},
{x: 1.5174797370000002, y: 8.0},
{x: 1.8707724700000004, y: 10.0},
{x: 1.8221581379999994, y: 11.0},
{x: 2.063038727, y: 8.0},
{x: 1.3887623980000003, y: 8.0},
{x: 2.1674954429999995, y: 13.0},
{x: 0.891205425, y: 6.0},
{x: 1.9916869630000003, y: 7.0},
{x: 1.9843298259999997, y: 7.0},
{x: 1.4561161389999995, y: 9.0},
{x: 2.336082115, y: 12.0},
{x: 1.3889018989999997, y: 8.0},
{x: 1.1251517090000005, y: 11.0},
{x: 1.066126256, y: 10.0},
{x: 0.9448628810000002, y: 9.0},
{x: 1.2810904819999995, y: 13.0},
{x: 2.1547240269999994, y: 7.0},
{x: 2.3626368120000003, y: 8.0},
{x: 2.052462438, y: 10.0},
{x: 3.4049850979999987, y: 14.0},
{x: 1.191273079, y: 3.0},
{x: 1.3957121939999997, y: 8.0},
{x: 1.6380530810000005, y: 7.0},
{x: 1.640320296000001, y: 6.0},
{x: 2.33261065, y: 12.0},
{x: 2.549386018, y: 11.0},
{x: 4.222366606, y: 31.0},
{x: 1.1723571600000002, y: 8.0},
{x: 1.9528648370000004, y: 5.0},
{x: 2.1012140399999995, y: 8.0},
{x: 1.6824695970000003, y: 7.0},
{x: 1.6003848660000002, y: 7.0},
{x: 2.0199659570000006, y: 7.0},
{x: 0.8520495250000001, y: 7.0},
{x: 3.473910859000001, y: 4.0},
{x: 1.7996001440000005, y: 8.0},
{x: 2.0236628580000007, y: 11.0},
{x: 2.04445234, y: 12.0},
{x: 1.527021165, y: 6.0},
{x: 5.074425624999999, y: 20.0},
{x: 3.8148860979999997, y: 23.0},
{x: 0.9489333219999999, y: 7.0},
{x: 2.5418448160000016, y: 9.0},
{x: 1.7203744050000005, y: 6.0},
{x: 1.9486740660000006, y: 9.0},
{x: 1.5279699969999996, y: 6.0},
{x: 1.9777543739999999, y: 13.0},
{x: 1.455781711, y: 7.0},
{x: 1.176487385, y: 11.0},
{x: 2.5346058790000003, y: 5.0},
{x: 1.6817811250000008, y: 6.0},
{x: 1.643168829, y: 9.0},
{x: 2.0069407479999994, y: 8.0},
{x: 0.8585197673377998, y: 9.0},
{x: 3.404629173, y: 17.0},
{x: 1.3699764459999997, y: 6.0},
{x: 1.5340312200000001, y: 6.0},
{x: 1.352091735, y: 6.0},
{x: 3.3224159749999993, y: 10.0},
{x: 1.119611545, y: 9.0},
{x: 1.6526572929999999, y: 9.0},
{x: 1.1073563119999998, y: 7.0},
{x: 0.7336753570000001, y: 11.0},
{x: 2.1007723079999994, y: 9.0},
{x: 1.7970151669999996, y: 5.0},
{x: 1.6782703070000005, y: 11.0},
{x: 1.920082183, y: 10.0},
{x: 1.3737527170000003, y: 7.0},
{x: 0.754712039, y: 5.0},
{x: 0.7755664889999999, y: 10.0},
{x: 1.2421627489999998, y: 7.0},
{x: 1.5926293109999998, y: 7.0},
{x: 2.0649514499999997, y: 10.0},
{x: 2.101329162, y: 7.0},
{x: 3.251784162, y: 7.0},
{x: 1.5276107600000004, y: 7.0},
{x: 2.6398556289999986, y: 4.0},
{x: 1.570949594, y: 10.0},
{x: 1.6629640490000002, y: 7.0},
{x: 2.1373063489999993, y: 8.0},
{x: 1.6310595340000007, y: 8.0},
{x: 2.4555598279999997, y: 6.0},
{x: 2.674786710000001, y: 9.0},
{x: 1.08587637, y: 12.0},
{x: 1.5127289600000002, y: 7.0},
{x: 0.73971593, y: 9.0},
{x: 2.277647419999999, y: 8.0},
{x: 1.46432778, y: 8.0},
{x: 1.4361921000000002, y: 5.0},
{x: 1.0280621799999998, y: 8.0},
{x: 1.137476036, y: 8.0},
{x: 1.3740493500000002, y: 7.0},
{x: 1.1044925799999998, y: 5.0},
{x: 1.5288028299999998, y: 6.0},
{x: 0.9964623200000001, y: 7.0},
{x: 2.45777695, y: 8.0},
{x: 3.90745979, y: 9.0},
{x: 1.1790681599999997, y: 6.0},
{x: 2.0882019799999996, y: 10.0},
{x: 2.16661023, y: 11.0},
{x: 2.01249984, y: 11.0},
{x: 1.27184831, y: 9.0},
{x: 3.0310129899999994, y: 14.0},
{x: 1.0994244600000003, y: 8.0},
{x: 1.3602001700000002, y: 9.0},
{x: 0.51306933, y: 5.0},
{x: 0.6415377200000001, y: 10.0},
{x: 5.2912063400000005, y: 12.0},
{x: 0.8469846869999997, y: 9.0},
{x: 2.8582222800000014, y: 9.0},
{x: 1.03526704, y: 10.0},
{x: 0.6286744499999999, y: 5.0},
{x: 1.2376381500000002, y: 14.0},
{x: 2.1662942299999997, y: 10.0},
{x: 1.23833954, y: 3.0},
{x: 0.9250715889999999, y: 1.0},
{x: 3.51998732, y: 3.0},
{x: 1.7711742499999998, y: 5.0},
{x: 1.83061961, y: 1.0},
{x: 2.2849515099999995, y: 2.0},
{x: 2.8017302, y: 9.0},
{x: 0.9345173199999999, y: 8.0},
{x: 1.2319283799999998, y: 13.0},
{x: 0.8867781599999998, y: 11.0},
{x: 0.8746078, y: 10.0},
{x: 0.6859952000000002, y: 4.0},
{x: 1.85609124, y: 9.0},
{x: 2.4664079899999996, y: 8.0},
{x: 3.73756312, y: 10.0},
{x: 1.92195068, y: 8.0},
{x: 0.8662835600000001, y: 12.0},
{x: 1.1897020899999997, y: 6.0},
{x: 1.2296032099999994, y: 5.0},
{x: 1.3293604, y: 9.0},
{x: 2.8545016200000006, y: 8.0},
{x: 5.7080714399999986, y: 6.0},
{x: 0.9747952670000001, y: 8.0},
{x: 0.6558024199999998, y: 4.0},
{x: 1.06782872, y: 5.0},
{x: 1.3426207500000003, y: 5.0},
{x: 1.4270986600000002, y: 8.0},
{x: 1.0420336, y: 8.0},
{x: 0.6118511300000001, y: 6.0},
{x: 1.7173285999999999, y: 7.0},
{x: 1.63470594, y: 2.0},
{x: 0.6641301599999999, y: 7.0},
{x: 5.504857949999999, y: 16.0},
{x: 3.9301928599999996, y: 13.0},
{x: 3.5373034199999998, y: 5.0},
{x: 2.6936047599999995, y: 9.0},
{x: 0.9007288399999998, y: 7.0},
{x: 3.10054833, y: 5.0},
{x: 1.1259616899999998, y: 5.0},
{x: 3.0716394800000004, y: 9.0},
{x: 1.8193033299999992, y: 11.0},
{x: 1.8806867799999996, y: 6.0},
{x: 3.592800060000001, y: 14.0},
{x: 4.02647044, y: 8.0},
{x: 4.72307858, y: 14.0},
{x: 0.59922541, y: 5.0},
{x: 0.8729835199999999, y: 5.0},
{x: 0.7765638899999998, y: 8.0},
{x: 1.9454637010000002, y: 11.0},
{x: 0.31336509, y: 7.0},
{x: 0.9543098499999999, y: 8.0},
{x: 1.4750367100000004, y: 10.0},
{x: 0.98264694, y: 7.0},
{x: 1.63077257, y: 12.0},
{x: 1.0457772699999996, y: 8.0},
{x: 1.10534463, y: 8.0},
{x: 1.3310344200000002, y: 8.0},
{x: 0.7559624200000001, y: 1.0},
{x: 0.62492795, y: 7.0},
{x: 2.1858189000000006, y: 14.0},
{x: 1.6238753200000002, y: 9.0},
{x: 4.3309335, y: 6.0},
{x: 0.8592652799999998, y: 7.0},
{x: 2.1816260399999994, y: 8.0},
{x: 1.4631318300000005, y: 7.0},
{x: 2.1277681499999996, y: 9.0},
{x: 1.9342745499999998, y: 10.0},
{x: 3.149993710000001, y: 11.0},
{x: 1.6657321200000001, y: 4.0},
{x: 1.0736610800000002, y: 9.0},
{x: 2.00020006, y: 13.0},
{x: 0.96470208, y: 10.0},
{x: 0.82107444, y: 8.0},
{x: 1.0248424400000002, y: 10.0},
{x: 3.52736072, y: 15.0},
{x: 1.24802337, y: 10.0},
{x: 1.1388931800000004, y: 9.0},
{x: 1.352973453, y: 8.0},
{x: 0.41647365000000003, y: 2.0},
{x: 1.0399132100000001, y: 10.0},
{x: 1.1869948500000003, y: 15.0},
{x: 0.7957591800000001, y: 9.0},
{x: 2.54306733, y: 7.0},
{x: 1.4296982100000004, y: 13.0},
{x: 3.7744551599999996, y: 12.0},
{x: 10.696056020000002, y: 7.0},
{x: 7.731579238000002, y: 9.0},
{x: 8.242377470000003, y: 8.0},
{x: 8.468554784000002, y: 10.0},
{x: 5.32742724, y: 10.0},
{x: 6.362110299999999, y: 5.0},
{x: 7.477033009999999, y: 5.0},
{x: 6.210905679999997, y: 2.0},
{x: 5.40675911, y: 7.0},
{x: 6.681246219999998, y: 8.0},
{x: 6.008509470000001, y: 9.0},
{x: 4.79161941, y: 6.0},
{x: 5.74646875, y: 7.0},
{x: 4.0615482799999985, y: 6.0},
{x: 2.1674403499999997, y: 8.0},
{x: 6.963526520000001, y: 10.0},
{x: 6.522457180000001, y: 10.0},
{x: 8.124393889999995, y: 12.0},
{x: 4.86147503, y: 7.0},
{x: 6.573649729999999, y: 18.0},
{x: 5.106571719999999, y: 4.0},
{x: 5.6253056799999985, y: 10.0},
{x: 5.1884258600000015, y: 12.0},
{x: 2.73274973, y: 7.0},
{x: 3.8645744299999993, y: 8.0},
{x: 4.780817229999999, y: 6.0},
{x: 2.96723069, y: 6.0},
{x: 5.80131121, y: 11.0},
{x: 5.894046940000003, y: 12.0},
{x: 4.088389734999999, y: 10.0},
{x: 5.479467759999999, y: 10.0},
{x: 8.379122918999999, y: 12.0},
{x: 3.0060676655999994, y: 3.0},
{x: 5.9675842, y: 9.0},
{x: 4.789640659999999, y: 9.0},
{x: 3.8472856199999996, y: 7.0},
{x: 5.06068721, y: 10.0},
{x: 5.099056409999998, y: 8.0},
{x: 5.155763309999999, y: 3.0},
{x: 2.5587064199999996, y: 2.0},
{x: 4.91677952, y: 12.0},
{x: 5.9464390599999986, y: 12.0},
{x: 7.410918121000001, y: 17.0},
{x: 4.59709175, y: 12.0},
{x: 5.0985087400000015, y: 6.0},
{x: 5.512158489999999, y: 11.0},
{x: 3.7736009242999997, y: 6.0},
{x: 4.497876700000001, y: 10.0},
{x: 3.4881385499999995, y: 10.0},
{x: 3.5250003100000016, y: 8.0},
{x: 0.4846118199999999, y: 9.0},
{x: 1.29160134, y: 9.0},
{x: 2.8466251399999996, y: 28.0},
{x: 1.1444676900000004, y: 10.0},
{x: 4.333309800000002, y: 6.0},
{x: 4.451073199999999, y: 8.0},
{x: 5.5367850600000015, y: 10.0},
{x: 5.206168439999998, y: 11.0},
{x: 4.458150710000001, y: 9.0},
{x: 0.54183704, y: 4.0},
{x: 3.3913640000000003, y: 1.0},
{x: 5.797257419999998, y: 5.0},
{x: 5.0812786, y: 8.0},
{x: 5.806185276900001, y: 14.0},
{x: 4.56962818, y: 12.0},
{x: 2.9087491400000003, y: 3.0},
{x: 7.59589531, y: 10.0},
{x: 4.0777653608, y: 2.0},
{x: 5.6660196900000015, y: 11.0},
{x: 3.7185429599999993, y: 5.0},
{x: 3.66861766, y: 7.0},
{x: 4.111981310000001, y: 11.0},
{x: 4.18882196, y: 4.0},
{x: 5.32574426, y: 1.0},
{x: 1.21647288, y: 5.0},
{x: 5.857542759999999, y: 2.0},
{x: 5.2612266100000005, y: 10.0},
{x: 4.38039888, y: 15.0},
{x: 4.837078290000003, y: 12.0},
{x: 0.31907948, y: 4.0},
{x: 0.36754512000000006, y: 7.0},
{x: 0.6814123034, y: 9.0},
{x: 4.36962246, y: 5.0},
{x: 4.004410549999999, y: 6.0},
{x: 4.03934621, y: 7.0},
{x: 4.01974692, y: 12.0},
{x: 4.768484270800002, y: 9.0},
{x: 3.0559595100000005, y: 3.0},
{x: 3.8191530999999994, y: 11.0},
{x: 3.3463334599999985, y: 6.0},
{x: 5.270919710000001, y: 6.0},
{x: 1.0446604647999997, y: 8.0},
{x: 0.4758065799999999, y: 11.0},
{x: 0.8694649840000002, y: 7.0},
{x: 3.8395516499999993, y: 13.0},
{x: 3.0072454000000004, y: 3.0},
{x: 2.5819874700000005, y: 6.0},
{x: 3.82324634, y: 9.0},
{x: 3.96829383, y: 9.0},
{x: 4.957714090000002, y: 7.0},
{x: 4.0458322, y: 10.0},
{x: 2.8881693800000003, y: 2.0},
{x: 4.015793650000001, y: 5.0},
{x: 5.8045770160000005, y: 7.0},
{x: 4.21794387, y: 6.0},
{x: 2.51613328, y: 5.0},
{x: 4.55895453, y: 5.0},
{x: 0.7002924100000002, y: 7.0},
{x: 2.9559946299999997, y: 3.0},
{x: 3.87556831, y: 6.0},
{x: 2.02384431, y: 6.0},
{x: 1.4058197399999999, y: 11.0},
{x: 0.7376633699999999, y: 7.0},
{x: 0.6242158900000002, y: 13.0},
{x: 1.07519246, y: 11.0},
{x: 0.66478783, y: 5.0},
{x: 0.5490547299999999, y: 12.0},
{x: 0.5503268800000001, y: 8.0},
{x: 0.7217070499999998, y: 5.0},
{x: 1.3549479700000002, y: 18.0},
{x: 0.7661786800000001, y: 10.0},
{x: 0.3837060300000001, y: 3.0},
{x: 1.2877978872, y: 5.0},
{x: 0.6406896200000001, y: 14.0},
{x: 1.32227894, y: 7.0},
{x: 1.07882791, y: 6.0},
{x: 0.7488292400000002, y: 14.0},
{x: 0.8345085069999999, y: 16.0},
{x: 1.4136692999999996, y: 7.0},
{x: 0.45834960999999996, y: 4.0},
{x: 0.31040681999999997, y: 4.0},
{x: 0.5011152400000001, y: 12.0},
{x: 0.43132812000000004, y: 14.0},
{x: 0.89448633, y: 8.0},
{x: 1.6826014599999999, y: 19.0},
{x: 4.13109899, y: 6.0},
{x: 3.65153822, y: 6.0},
{x: 3.9341967999999996, y: 8.0},
{x: 5.685376429999999, y: 16.0},
{x: 4.5965304300000005, y: 14.0},
{x: 1.25651277, y: 4.0},
{x: 1.45841505, y: 5.0},
{x: 5.937889420000001, y: 15.0},
{x: 6.87967572, y: 7.0},
{x: 3.1264576999999996, y: 1.0},
{x: 4.57075224, y: 8.0},
{x: 7.497099100000002, y: 6.0},
{x: 6.14587767, y: 2.0},
{x: 4.397558170000001, y: 1.0},
{x: 2.7980369899999995, y: 3.0},
{x: 3.540282879999999, y: 5.0},
{x: 3.4393838899999998, y: 3.0},
{x: 3.963063589, y: 7.0},
{x: 3.71267778, y: 5.0},
{x: 2.74249844, y: 3.0},
{x: 2.51090555, y: 6.0},
{x: 3.3335412455999993, y: 6.0},
{x: 3.5082077199999997, y: 4.0},
{x: 3.7857620309999995, y: 5.0},
{x: 4.041626450000001, y: 3.0},
{x: 2.8086909199999996, y: 8.0},
{x: 6.03807928, y: 6.0},
{x: 1.7673283000000002, y: 3.0},
{x: 3.74112725, y: 4.0},
{x: 6.0769810600000005, y: 17.0},
{x: 2.14576897, y: 1.0},
{x: 3.8392207600000003, y: 15.0},
{x: 3.8984169099999995, y: 6.0},
{x: 5.665206039999999, y: 18.0},
{x: 2.4138549300000003, y: 3.0},
{x: 2.6793392500000004, y: 5.0},
{x: 3.2595184400000003, y: 9.0},
{x: 3.1420136399999996, y: 5.0},
{x: 3.24042299, y: 3.0},
{x: 3.6307767500000017, y: 4.0},
{x: 0.8643601499999999, y: 5.0},
{x: 0.9577382730000001, y: 7.0},
{x: 4.342242240000001, y: 3.0},
{x: 3.505721270000001, y: 13.0},
{x: 3.87084813, y: 6.0},
{x: 4.865727489999999, y: 5.0},
{x: 6.555320020000001, y: 18.0},
{x: 2.5074091199999997, y: 4.0},
{x: 3.915631479999999, y: 6.0},
{x: 5.02240916, y: 5.0},
{x: 6.23710806, y: 13.0},
{x: 4.96987289, y: 23.0},
{x: 3.974166399999999, y: 8.0},
{x: 0.5888769000000001, y: 7.0},
{x: 3.7600283549999998, y: 6.0},
{x: 4.858001158199998, y: 8.0},
{x: 4.558582093399998, y: 7.0},
{x: 4.95529101, y: 11.0},
{x: 2.4836619921, y: 1.0},
{x: 3.82227125, y: 13.0},
{x: 0.08680435, y: 3.0},
{x: 0.7859969099999999, y: 8.0},
{x: 0.5097792130000001, y: 5.0},
{x: 0.70669711, y: 14.0},
{x: 0.65835791, y: 5.0},
{x: 0.61962893, y: 6.0},
{x: 0.7059364499999999, y: 9.0},
{x: 0.13205361000000002, y: 4.0},
{x: 0.7319518800000001, y: 6.0},
{x: 4.74629425, y: 10.0},
{x: 3.9246201899999997, y: 5.0},
{x: 3.944597129999999, y: 5.0},
{x: 6.45614562, y: 5.0},
{x: 4.17543377, y: 9.0},
{x: 6.4343803, y: 6.0},
{x: 8.509958520000003, y: 5.0},
{x: 2.49688282, y: 7.0},
{x: 6.415911109999999, y: 6.0},
{x: 4.59978351, y: 7.0},
{x: 5.059574246999999, y: 4.0},
{x: 5.818299854300002, y: 9.0},
{x: 6.58848206, y: 6.0},
{x: 6.900060699999999, y: 5.0},
{x: 4.634843399999999, y: 8.0},
{x: 5.005036630000001, y: 7.0},
{x: 2.3277400100000003, y: 8.0},
{x: 3.3422289799999993, y: 10.0},
{x: 5.763760010000001, y: 22.0},
{x: 1.7198117999999998, y: 1.0},
{x: 0.37921492, y: 11.0},
{x: 5.908400820000001, y: 7.0},
{x: 4.978708110000001, y: 4.0},
{x: 4.666396340000001, y: 6.0},
{x: 4.982201989999999, y: 8.0},
{x: 5.618570980000001, y: 3.0},
{x: 1.3456812379999996, y: 3.0},
{x: 0.41955644999999997, y: 5.0},
{x: 2.5795378400000004, y: 1.0},
{x: 4.171414740000001, y: 4.0},
{x: 5.864438625999999, y: 8.0},
{x: 4.691592220000001, y: 18.0},
{x: 4.547504610000002, y: 3.0},
{x: 4.229178890000001, y: 2.0},
{x: 2.9519848299999993, y: 1.0},
{x: 5.53378502, y: 6.0},
{x: 6.170997329999999, y: 8.0},
{x: 2.6561172900000005, y: 9.0},
{x: 3.56056119, y: 3.0},
{x: 3.02959139, y: 4.0},
{x: 0.9576576099999997, y: 17.0},
{x: 0.4195779800000001, y: 5.0},
{x: 2.7353604899999997, y: 20.0},
{x: 3.3767147, y: 17.0},
{x: 1.0488593000000002, y: 13.0},
{x: 0.6398597999999998, y: 8.0},
{x: 1.79437642, y: 12.0},
{x: 1.9433930799999999, y: 6.0},
{x: 0.5432008599999999, y: 12.0},
{x: 1.9081371495000004, y: 13.0},
{x: 0.27105747, y: 10.0},
{x: 1.7517613490000001, y: 23.0},
{x: 1.6345641929000003, y: 15.0},
{x: 2.04984727, y: 17.0},
{x: 4.65152354, y: 7.0},
{x: 1.7552415099999996, y: 17.0},
{x: 1.3582231000000002, y: 14.0},
{x: 4.222452720000001, y: 19.0},
{x: 1.04807322, y: 9.0},
{x: 1.9080782699999999, y: 8.0},
{x: 1.47226658, y: 7.0},
{x: 1.08982833, y: 15.0},
{x: 0.9564085499999999, y: 6.0},
{x: 2.318239825, y: 6.0},
{x: 1.3888756100000004, y: 10.0},
{x: 0.69999321, y: 3.0},
{x: 1.3108948569, y: 6.0},
{x: 0.93420584, y: 5.0},
{x: 0.36977083, y: 9.0},
{x: 0.6102872400000001, y: 18.0},
{x: 0.94367628, y: 5.0},
{x: 1.03211518, y: 5.0},
{x: 1.4389197200000001, y: 4.0},
{x: 1.35954212, y: 6.0},
{x: 1.54047889, y: 9.0},
{x: 0.28581082999999996, y: 7.0},
{x: 0.27499629, y: 6.0},
{x: 1.13731967, y: 7.0},
{x: 1.3476734199999998, y: 13.0},
{x: 1.7623710500000003, y: 8.0},
{x: 1.14521864, y: 6.0},
{x: 0.9438216099999999, y: 8.0},
{x: 2.1677675, y: 13.0},
{x: 0.43341779, y: 6.0},
{x: 1.2481982599999997, y: 3.0},
{x: 0.9886538699999999, y: 5.0},
{x: 1.7426085542999998, y: 10.0},
{x: 1.06933896, y: 5.0},
{x: 2.3053398648, y: 6.0},
{x: 0.81606502, y: 13.0},
{x: 1.72325413, y: 15.0},
{x: 0.41202021999999994, y: 3.0},
{x: 1.17189649, y: 8.0},
{x: 1.67812846, y: 7.0},
{x: 2.2772561708, y: 7.0},
{x: 1.0533966, y: 6.0},
{x: 1.2775537899999998, y: 7.0},
{x: 0.47661388, y: 11.0},
{x: 2.04368094, y: 12.0},
{x: 2.0466496434, y: 9.0},
{x: 1.50430881, y: 16.0},
{x: 1.3792050299999998, y: 10.0},
{x: 1.0342686799999998, y: 4.0},
{x: 1.4528871147999998, y: 6.0},
{x: 1.55804402, y: 12.0},
{x: 0.6124175600000001, y: 4.0},
{x: 2.6599313120000008, y: 6.0},
{x: 1.71038468, y: 15.0},
{x: 2.0691497599999997, y: 8.0},
{x: 0.7964415499999999, y: 5.0},
{x: 2.0426090499999994, y: 5.0},
{x: 0.8442849100000002, y: 4.0},
{x: 1.05014806, y: 4.0},
{x: 1.3170947499999999, y: 10.0},
{x: 1.68132554, y: 6.0},
{x: 0.6311009399999999, y: 9.0},
{x: 1.4680148499999996, y: 8.0},
{x: 0.43805178, y: 1.0},
{x: 0.576631428, y: 10.0},
{x: 1.96744207, y: 3.0},
{x: 1.8884812300000002, y: 7.0},
{x: 0.7218807933000001, y: 1.0},
{x: 1.5987116999999997, y: 7.0},
{x: 0.70701328, y: 5.0},
{x: 0.16114009, y: 3.0},
{x: 1.92949761, y: 3.0},
{x: 1.1918831799999998, y: 10.0},
{x: 1.8092381100000001, y: 3.0},
{x: 0.52507051, y: 3.0},
{x: 1.6338888399999998, y: 8.0},
{x: 0.6797540509999999, y: 4.0},
{x: 0.68593528, y: 9.0},
{x: 0.9918961999999999, y: 10.0},
{x: 1.971347281, y: 4.0},
{x: 2.9981595899999998, y: 4.0},
{x: 1.9739065608, y: 9.0},
{x: 1.6050484499999997, y: 5.0},
{x: 0.7807881, y: 5.0},
{x: 0.72325579, y: 8.0},
{x: 0.7102044972999998, y: 12.0},
{x: 0.6494362600000001, y: 3.0},
{x: 0.13150109999999998, y: 3.0},
{x: 1.0692458800000002, y: 5.0},
{x: 0.354461725, y: 5.0},
{x: 0.39172914000000003, y: 5.0},
{x: 4.197025269999999, y: 7.0},
{x: 0.37625436000000007, y: 1.0},
{x: 0.26423935000000004, y: 7.0},
{x: 0.6534365500000001, y: 5.0},
{x: 0.7917909300000001, y: 8.0},
{x: 0.79424335, y: 4.0},
{x: 1.4010472821000002, y: 20.0},
{x: 4.465005519999998, y: 19.0},
{x: 11.07279044, y: 16.0},
{x: 4.051958669999999, y: 24.0},
{x: 4.146483410000001, y: 10.0},
{x: 3.236331059999999, y: 17.0},
{x: 3.4592110299999987, y: 27.0},
{x: 2.15008943, y: 17.0},
{x: 3.7921890195000008, y: 15.0},
{x: 2.4425018499999998, y: 26.0},
{x: 2.38975533, y: 19.0},
{x: 4.154941349999999, y: 21.0},
{x: 2.963105739999999, y: 16.0},
{x: 4.03390021, y: 15.0},
{x: 4.376393920000001, y: 25.0},
{x: 4.037069990000001, y: 16.0},
{x: 1.6035554999999997, y: 19.0},
{x: 1.4675955900000002, y: 13.0},
{x: 2.83318035, y: 13.0},
{x: 6.717585089999998, y: 37.0},
{x: 3.5067094969999997, y: 14.0},
{x: 4.522250860000001, y: 19.0},
{x: 4.30045108, y: 23.0},
{x: 3.5496816800000004, y: 7.0},
{x: 2.06247192, y: 14.0},
{x: 2.9361589800000005, y: 21.0},
{x: 2.9550216900000006, y: 30.0},
{x: 3.42868456, y: 23.0},
{x: 5.568183210000001, y: 28.0},
{x: 5.32317685, y: 16.0},
{x: 6.146239840000002, y: 13.0},
{x: 2.76518255, y: 18.0},
{x: 2.52025221, y: 16.0},
{x: 3.37424987, y: 14.0},
{x: 4.36561401, y: 14.0},
{x: 4.050253919999999, y: 13.0},
{x: 0.90356706, y: 4.0},
{x: 0.8750669300000002, y: 5.0},
{x: 2.18253141, y: 17.0},
{x: 2.36885328, y: 12.0},
{x: 5.166256880000001, y: 11.0},
{x: 4.0287738616, y: 10.0},
{x: 4.516502259999999, y: 16.0},
{x: 3.355394099999999, y: 10.0},
{x: 3.5827264100000003, y: 11.0},
{x: 4.751558639999999, y: 22.0},
{x: 1.5912133899999998, y: 5.0},
{x: 5.506588109999998, y: 24.0},
{x: 4.664785129999999, y: 24.0},
{x: 2.13712741, y: 9.0},
{x: 1.3371327847999999, y: 9.0},
{x: 0.0677483153, y: 2.0},
{x: 6.048818043999999, y: 19.0},
{x: 4.012601039999999, y: 13.0},
{x: 3.3695848939999986, y: 28.0},
{x: 0.8399196929999999, y: 8.0},
{x: 0.40061044, y: 6.0},
{x: 0.95335094, y: 9.0},
{x: 0.34809215000000004, y: 5.0},
{x: 3.4933786399999995, y: 15.0},
{x: 7.145205085, y: 23.0},
{x: 5.108171499999998, y: 19.0},
{x: 1.5829250400000001, y: 8.0},
{x: 5.2729158, y: 16.0},
{x: 1.8435654809999995, y: 9.0},
{x: 3.6233962000000006, y: 12.0},
{x: 3.4982462399999994, y: 20.0},
{x: 5.966487010000002, y: 23.0},
{x: 3.7695664100000017, y: 23.0},
{x: 4.665547280000001, y: 16.0},
{x: 3.791515, y: 26.0},
{x: 0.39921863, y: 8.0},
{x: 0.5237723499999999, y: 9.0},
{x: 3.5911315800000003, y: 14.0},
{x: 4.2229074099999995, y: 22.0},
{x: 3.93908156, y: 15.0},
{x: 8.410257049999998, y: 40.0},
{x: 4.88160247, y: 26.0},
{x: 3.5178167200000003, y: 14.0},
{x: 3.1358834370000004, y: 7.0},
{x: 2.03541395, y: 21.0},
{x: 3.92933298, y: 12.0},
{x: 6.606542488999999, y: 16.0},
{x: 2.7327957199999995, y: 17.0},
{x: 0.37118086000000006, y: 1.0},
{x: 0.6984465099999999, y: 7.0},
{x: 0.49215725000000005, y: 7.0},
{x: 2.3427800599999995, y: 14.0},
{x: 3.432610195, y: 16.0},
{x: 5.35486744, y: 13.0},
{x: 6.325695210000003, y: 6.0},
{x: 6.799188699999999, y: 19.0},
{x: 2.6126292540000002, y: 53.0},
{x: 2.7370461899999996, y: 25.0},
{x: 1.4647706, y: 9.0},
{x: 3.68236841, y: 10.0},
{x: 1.4833505100000002, y: 5.0},
{x: 0.7094568899999998, y: 3.0},
{x: 0.545880866, y: 3.0},
{x: 0.2831961, y: 5.0},
{x: 2.7669728769999997, y: 7.0},
{x: 3.3735170499999994, y: 8.0},
{x: 5.492063769999999, y: 12.0},
{x: 7.450865930000003, y: 16.0},
{x: 7.042708210000001, y: 11.0},
{x: 8.898543250000001, y: 18.0},
{x: 2.14296067, y: 8.0},
{x: 0.7760930139999999, y: 4.0},
{x: 2.22956131, y: 15.0},
{x: 2.5769563200000003, y: 12.0},
{x: 4.75347203, y: 22.0},
{x: 0.32988611, y: 4.0},
{x: 3.48936659, y: 12.0},
{x: 1.3308214900000002, y: 18.0},
{x: 1.0329240929999999, y: 7.0},
{x: 0.404326209, y: 6.0},
{x: 0.54218352, y: 5.0},
{x: 1.35445983, y: 9.0},
{x: 0.7708600900000001, y: 5.0},
{x: 0.37571197999999995, y: 3.0},
{x: 1.1065400400000003, y: 2.0},
{x: 0.22586078999999998, y: 1.0},
{x: 0.7051818259999999, y: 15.0},
{x: 0.73176379, y: 10.0},
{x: 0.32397674, y: 8.0},
{x: 0.33436617, y: 5.0},
{x: 1.2756711540000003, y: 5.0},
{x: 0.5848670099999999, y: 9.0},
{x: 1.4762919999999997, y: 15.0},
{x: 1.4339207399999998, y: 17.0},
{x: 1.523681862, y: 15.0},
{x: 1.31652432, y: 7.0},
{x: 1.36776852, y: 9.0},
{x: 1.5667724600000001, y: 6.0},
{x: 3.889507009999999, y: 9.0},
{x: 4.0799408, y: 9.0},
{x: 3.26608449, y: 11.0},
{x: 2.7125872299999996, y: 11.0},
{x: 2.9543491599999996, y: 12.0},
{x: 0.8412009, y: 2.0},
{x: 1.1227237689999998, y: 4.0},
{x: 4.00618939, y: 14.0},
{x: 3.2530264300000002, y: 9.0},
{x: 2.5211330399999996, y: 9.0},
{x: 3.6717884000000005, y: 2.0},
{x: 0.29030464, y: 4.0},
{x: 3.0728995300000004, y: 14.0},
{x: 2.7315441799999998, y: 8.0},
{x: 4.933437829999999, y: 13.0},
{x: 3.5344519309999995, y: 4.0},
{x: 3.8232016499999997, y: 5.0},
{x: 2.5250572, y: 5.0},
{x: 2.9854025600000003, y: 9.0},
{x: 3.7555875299999992, y: 10.0},
{x: 0.5435942699999999, y: 4.0},
{x: 3.119331542, y: 10.0},
{x: 2.67843935, y: 8.0},
{x: 4.084875, y: 7.0},
{x: 3.1794012899999995, y: 8.0},
{x: 0.9413992700000002, y: 7.0},
{x: 5.574906639999999, y: 11.0},
{x: 1.5612008099999999, y: 4.0},
{x: 5.182987759999998, y: 15.0},
{x: 3.57650009, y: 10.0},
{x: 3.1189528509999995, y: 13.0},
{x: 1.5863107300000001, y: 8.0},
{x: 2.3856928899999996, y: 16.0},
{x: 1.3746583689999996, y: 3.0},
{x: 1.13831456, y: 6.0},
{x: 4.28975176, y: 13.0},
{x: 1.845267514, y: 7.0},
{x: 2.42778452, y: 7.0},
{x: 1.82055021, y: 5.0},
{x: 1.4441423900000003, y: 5.0},
{x: 1.2248459800000002, y: 7.0},
{x: 1.9530197399999998, y: 9.0},
{x: 2.33140952, y: 17.0},
{x: 2.22947973, y: 7.0},
{x: 2.8808202700000005, y: 13.0},
{x: 1.6719427, y: 3.0},
{x: 1.40783419, y: 7.0},
{x: 1.17566032, y: 10.0},
{x: 2.5667355000000005, y: 11.0},
{x: 5.164365219999999, y: 8.0},
{x: 2.725142695, y: 8.0},
{x: 4.2426597600000004, y: 10.0},
{x: 1.7081182899999998, y: 7.0},
{x: 1.397386316, y: 6.0},
{x: 1.2824799399999995, y: 4.0},
{x: 0.7255939299999999, y: 4.0},
{x: 3.423126770000001, y: 8.0},
{x: 3.63504485, y: 7.0},
{x: 2.11769578, y: 5.0},
{x: 2.9806994300000005, y: 7.0},
{x: 1.11570958, y: 3.0},
{x: 0.28747102999999996, y: 5.0},
{x: 0.15714472000000002, y: 1.0},
{x: 1.1751180200000002, y: 3.0},
{x: 0.29692233, y: 1.0},
{x: 1.3969400499999998, y: 1.0},
{x: 0.4665872200000001, y: 2.0},
{x: 0.355970761, y: 1.0},
{x: 0.49732073, y: 7.0},
{x: 3.3390618829999994, y: 11.0},
{x: 2.4827635299999997, y: 5.0},
{x: 3.352762519999999, y: 4.0},
{x: 4.938150060000001, y: 8.0},
{x: 3.34417629, y: 4.0},
{x: 3.48369901, y: 14.0},
{x: 0.20106953, y: 2.0},
{x: 3.8555296010000015, y: 14.0},
{x: 4.724167531999999, y: 11.0},
{x: 3.4703518600000005, y: 6.0},
{x: 3.6836664900000007, y: 12.0},
{x: 0.963522505, y: 5.0},
{x: 0.36426632000000003, y: 4.0},
{x: 0.4644377699999999, y: 7.0},
{x: 4.10150896, y: 11.0},
{x: 4.30431943, y: 16.0},
{x: 2.681502699, y: 9.0},
{x: 3.9999902, y: 11.0},
{x: 2.478854, y: 8.0},
{x: 2.3876137600000003, y: 6.0},
{x: 3.1919781610000006, y: 10.0},
{x: 4.528731506999999, y: 16.0},
{x: 4.00041957, y: 7.0},
{x: 3.0435814999999993, y: 7.0},
{x: 4.370684069999999, y: 17.0},
{x: 1.4350129899999997, y: 3.0},
{x: 0.7786461100000001, y: 8.0},
{x: 3.2736802699999994, y: 19.0},
{x: 3.93847229, y: 13.0},
{x: 2.5261791, y: 6.0},
{x: 2.4822426799999997, y: 6.0},
{x: 1.5788241, y: 3.0},
{x: 2.7596275230000007, y: 7.0},
{x: 1.48497259, y: 6.0},
{x: 0.70029799, y: 6.0},
{x: 2.15286287, y: 10.0},
{x: 0.7642673400000002, y: 2.0},
{x: 3.828455, y: 8.0},
{x: 2.99269317, y: 14.0},
{x: 4.132913029999999, y: 7.0},
{x: 0.21060752000000002, y: 3.0},
{x: 0.8483891000000003, y: 2.0},
{x: 0.9225250050000002, y: 6.0},
{x: 1.6413777630000002, y: 7.0},
{x: 1.00120834, y: 5.0},
{x: 0.71845831, y: 6.0},
{x: 1.4052369999999998, y: 4.0},
{x: 0.91658522, y: 2.0},
{x: 2.9551424269999997, y: 12.0},
{x: 0.23445568, y: 3.0},
{x: 0.492796996, y: 3.0},
{x: 0.68977829, y: 6.0},
{x: 0.38763914000000005, y: 4.0},
{x: 1.0861729199999999, y: 9.0},
{x: 4.424078432, y: 7.0},
{x: 0.5121471000000001, y: 8.0},
{x: 1.1550725099999999, y: 8.0},
{x: 2.26802317, y: 7.0},
{x: 1.1862039220000002, y: 5.0},
{x: 0.81722153, y: 7.0},
{x: 0.6101672499999998, y: 7.0},
{x: 1.7201804210000002, y: 9.0},
{x: 1.3410558499999996, y: 5.0},
{x: 2.1885119, y: 5.0},
{x: 2.3757374199999997, y: 11.0},
{x: 4.580542764, y: 5.0},
{x: 1.6537543499999998, y: 4.0},
{x: 2.6623002149999997, y: 18.0},
{x: 1.9179867369999999, y: 35.0},
{x: 1.6987306400000006, y: 17.0},
{x: 1.2547605000000004, y: 2.0},
{x: 1.9645269300000001, y: 4.0},
{x: 1.6812621680000004, y: 6.0},
{x: 1.5794449299999997, y: 4.0},
{x: 0.7405933299999998, y: 2.0},
{x: 0.67016168, y: 3.0},
{x: 1.9552379100000004, y: 2.0},
{x: 1.5794569399999998, y: 3.0},
{x: 2.2790784099999994, y: 2.0},
{x: 0.9117057799999999, y: 2.0},
{x: 1.7971175099999996, y: 6.0},
{x: 1.1620036269999998, y: 4.0},
{x: 2.4171594599999997, y: 5.0},
{x: 4.5431960899999995, y: 8.0},
{x: 2.1053863570000004, y: 13.0},
{x: 2.1513668669999997, y: 6.0},
{x: 1.0374407469999998, y: 1.0},
{x: 1.56645234, y: 8.0},
{x: 1.976004161, y: 2.0},
{x: 2.859737886, y: 2.0},
{x: 4.17493653, y: 4.0},
{x: 1.73576964, y: 4.0},
{x: 1.73406804, y: 3.0},
{x: 1.7998334899999997, y: 2.0},
{x: 2.6447855299999996, y: 4.0},
{x: 2.67959422, y: 3.0},
{x: 1.96889553, y: 7.0},
{x: 1.59972692, y: 1.0},
{x: 2.284321282, y: 2.0},
{x: 1.987176578, y: 4.0},
{x: 2.06487801, y: 5.0},
{x: 0.69010717, y: 1.0},
{x: 1.7830998299999998, y: 4.0},
{x: 1.71073961, y: 2.0},
{x: 1.87716209, y: 5.0},
{x: 1.5646869799999998, y: 7.0},
{x: 1.7759162240000004, y: 4.0},
{x: 0.8467991859999998, y: 3.0},
{x: 1.4770310800000002, y: 8.0},
{x: 1.8623098089999999, y: 5.0},
{x: 1.8768134699999999, y: 3.0},
{x: 1.4569538500000003, y: 3.0},
{x: 1.08119123, y: 3.0},
{x: 1.26792645, y: 3.0},
{x: 0.352143436, y: 5.0},
{x: 2.3465641720000003, y: 3.0},
{x: 1.4015401200000002, y: 4.0},
{x: 2.4610314199999994, y: 1.0},
{x: 1.2634585800000002, y: 2.0},
{x: 1.4136510899999999, y: 4.0},
{x: 0.9732537600000001, y: 3.0},
{x: 7.130778490000001, y: 8.0},
{x: 1.80136202, y: 20.0},
{x: 1.61310055, y: 4.0},
{x: 2.102239746999999, y: 12.0},
{x: 1.3459075300000003, y: 2.0},
{x: 1.5362647399999998, y: 3.0},
{x: 1.3848873290000001, y: 4.0},
{x: 0.45331503999999995, y: 4.0},
{x: 0.518143204, y: 4.0},
{x: 1.84302519, y: 4.0},
{x: 1.5950351600000006, y: 2.0},
{x: 2.26268034, y: 5.0},
{x: 1.6828285400000003, y: 2.0},
{x: 1.1175803199999998, y: 5.0},
{x: 1.80881091, y: 4.0},
{x: 0.30314204999999994, y: 3.0},
{x: 1.9401124020000002, y: 5.0},
{x: 2.0842892600000007, y: 4.0},
{x: 1.619876669, y: 9.0},
{x: 0.628585374, y: 4.0},
{x: 1.2759325799999999, y: 14.0},
{x: 1.2168181800000004, y: 9.0},
{x: 2.62879846, y: 10.0},
{x: 1.493907055, y: 11.0},
{x: 0.7890170699999999, y: 6.0},
{x: 1.2608804959999997, y: 10.0},
{x: 1.01221348, y: 5.0},
{x: 1.61022166, y: 20.0},
{x: 1.727791841, y: 6.0},
{x: 5.631719427000001, y: 13.0},
{x: 2.4652593400000002, y: 11.0},
{x: 5.02599075, y: 16.0},
{x: 3.2916196199999996, y: 15.0},
{x: 2.8228090299999997, y: 4.0},]
        }]
    },
    options: {
      legend: {
            display: false
         },
      title: {
            display: true,
            text: 'Miles Walked Vs. Flights Climbed '
        },
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'            }]
        }
    }
});
</script>
