<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <%= link_to(projects_path, class: "button is-black is-outlined") do %>
                        <span class="icon has-text-info">
                            <i class="fa fa-superpowers"></i>
                        </span>
                        <span>Projects</span>
                    <% end %>
                </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
  <div class="content is-size-6 offset">

    <h2 >Data Mining Apple Health App Data</h2>
    <div class="introduction">
    <p class="subtitle is-5">Using <strong>Python</strong> and the <strong>Pandas</strong> library, I take dive into nearly 3 years of health
    contained in the app</p>
    <blockquote>
      <ol>
        <li>How much do I walk regularly?</li>
        <li>Do I walk more or less on weekends?</li>
        <li>Do I walk more or less during the school year?</li>
        <li>Are there anomalies that I can find?</li>
      </ol>
    </blockquote>

    <p>I ended up with three csv files after exporting the data and then converting the
    XML file to a CSV through <a href="http://ericwolter.com/projects/health-export.html" target="_blank">this</a> free tool</p>
<blockquote>
    <ol>
      <li>RunningWalking.csv</li>
      <li>Steps.csv</li>
      <li>Sleep.csv</li>
    </ol>
  </blockquote>

    </div>
    <p>First, I took a look at RunningWalking.csv. The data starts in May of 2015
    and continues to the present day.</p>
    <div class="columns">
      <div class="column">
      </div>
      <div class="column">
        <canvas id="yearWalk" width="600" height="300"></canvas>
      </div>
      <div class="column">
      </div>
    </div>
    <p>On Average, I walked 2.52 miles a day over the whole entire time period</p>
    <div class="columns">
      <div class="column">
</div>


      <div class="column">
        <canvas id="monthWalk"  width="800" height="400"></canvas>
      </div>
      <div class="column">
      </div>

  </div>

</div>
<script>
var ctx = document.getElementById("yearWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["2015","2016","2017","2018"],
        datasets: [{
            label: 'Miles',
            data: [581.1410155239014, 943.8845704491371, 976.5483752956964, 490.8902315179993],
            backgroundColor:   'rgba(255, 99, 132, 0.2)',
            borderColor:   'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    },
    options: {
      responsive: true,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var ctx = document.getElementById("monthWalk").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Jan 2016","Feb 2016","Mar 2016","Apr 2016","May 2016","June 2016",'Jul 2016', 'Aug 2016', "Sep 2016",'Oct 2016','Nov 2016', "Dec 2016",
      "Jan 2017","Feb 2017","Mar 2017","Apr 2017","May 2017","June 2017",'Jul 2017', 'Aug 2017', "Sep 2017",'Oct 2017','Nov 2017', "Dec 2017"],
        datasets: [{
            label: 'Miles',
            data: [53.091276104000045,
                   53.365012904,
                   62.13963559233776,
                   49.99136019899997,
                   53.492864220999955,
                   54.66567237400004,
                   57.53019095100001,
                   111.8284194850002,
                   150.62394557960016,
                   131.66975511299987,
                   100.51984106299989,
                   64.96659686319995,
                   99.34404218160003,
                   99.73960077399975,
                   107.72694779300005,
                   115.94463400399991,
                   49.20620649329999,
                   38.646855183299955,
                   39.37169753009999,
                   72.22403724470001,
                   105.80690894859985,
                   98.10980704709989,
                   104.65047925799986,
                   45.777158838000055],
            backgroundColor: 'red',
            borderWidth: 1
        }]
    },
    options: {
      responsive: true,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
