<div class="container">
  <div class="columns offset">
    <div class="column is-one-third">
      <%= image_tag("Andrew.jpg", :alt => "rss feed", :class => "is-rounded", size: "250x250") %>
    </div>
    <div class="column">
      <article class="message is-dark">
        <div class="message-header">
          Andrew Fleischer
        </div>
        <div class="message-body">
          &emsp;I am a computer science student curious about the areas of data science, machine learning, and web development. I have been fortunate enough to have received real life experience in both technical and business aspects of data-related projects.
          My hope is to utilize the explosion of big data into both business and societal value.
        </div>
      </article>
    </div>
  </div>
</div>
