
<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container ">
    <h1 class="title">
      Andrew Fleischer
    </h1>
    <h2 class="subtitle">
      Blogspot
    </h2>
  </div>
</div>
