
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <%= render(:partial => "navbar", :locals => {:color => "white"}) %>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title is-1">
                            Andrew Fleischer
                        </h1>
                        <%= link_to(projects_path, class: "button is-white is-outlined is-large") do %>
                              <span class="icon">
                                  <i class="fa fa-superpowers"></i>
                              </span>
                              <span>Projects</span>
                          <% end %>
                        <h2 class="subtitle is-6">
                          <i>Computer Science student and aspiring technology professional</i>
                        </h2>


                    </div>
                </div>
            </div>

    </section>
