<div class="container">
  <div class="columns">

    <div class="column has-text-centered">
      <a href="#">
      <p class="title">Data Science</p>
      <p class="subtitle">Projects concerning exploration, manipulation of data.
      Also includes pulling and predicting using machine learning</p>
      </a>
    </div>


    <div class="column has-text-centered">
      <a href="#">
      <p class="title">Web Development</p>
      <p class="subtitle">Projects that are web-based but not necessarily related to data</p>
      </a>
    </div>


    <div class="column has-text-centered">
      <a href="#">
      <p class="title">Other</p>
      <p class="subtitle">Everything else</p>
      </a>
    </div>

  </div>
</div>
