<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <%= link_to(projects_path, class: "button is-black is-outlined") do %>
                        <span class="icon has-text-info">
                            <i class="fa fa-superpowers"></i>
                        </span>
                        <span>Projects</span>
                    <% end %>
                </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
</div>
<div class="container">
  <h1 class="title is-2">
  Webscraping with Selenium Web Driver and Beautiful Soup
  </h1>
  <h2 class="subtitle is-4">Obtaing police records from Columbus Police Portal</h2>
  <div class="content">
    <p>Interested in making an application out of crime data, the goal of this project was to extract that data
    from the Columbus Police Crime Portal. <a href="https://github.com/Flysure/OSU-Crime/blob/master/test.py">This</a> link
    shows the code that was used to scrape the data from google chrome web browser. The program also makes calls to geolocate the
  address listed on the crime portal. The program in action:</p><br>
    <%= image_tag("webscraper.gif", :size => "900x500", :class => "centered-image") %>
  </div>
  <br><br>
  <p>This scraper yeilds <a href="'http://www.columbuspolice.org/Reports/Results?from=9/19/2018&to=9/26/2018&loc=pct4&types=9'">this</a> page
   into a .csv file:</p>
   <br>
   <br>
  <table class="table table-bordered table-hover table-condensed">
<thead><tr>
<th title="Field #2">CRnumber</th>
<th title="Field #3">Description</th>
<th title="Field #4">Victim</th>
<th title="Field #5">DateReported</th>
<th title="Field #6">Location</th>
<th title="Field #7">Lat</th>
<th title="Field #8">Lng</th>
</tr></thead>
<tbody><tr>

<td>180792318-001</td>
<td>450 - Robbery</td>
<td>Benjamin Hamilton</td>
<td>09/19/2018</td>
<td>1960 N High St</td>
<td>40.00233</td>
<td>-83.00849</td>
</tr>
<tr>

<td>180792418-001</td>
<td>551 - Criminal Damaging</td>
<td> [E] Waffle House</td>
<td>09/19/2018</td>
<td>1712 N High St</td>
<td>39.99746</td>
<td>-83.00754</td>
</tr>
<tr>

<td>183016232-001</td>
<td>117 - Theft - From Motor Vehicle - Felony</td>
<td>Danise White</td>
<td>09/19/2018</td>
<td>299 King Ave</td>
<td>39.990437</td>
<td>-83.01409</td>
</tr>
<tr>

<td>180796962-001</td>
<td>400 - Fraud</td>
<td>Mariah Jordan</td>
<td>09/20/2018</td>
<td>1390 Indianola Ave</td>
<td>39.99104</td>
<td>-83.003174</td>
</tr>
<tr>

<td>183016169-001</td>
<td>118 - Theft - From Motor Vehicle - Petit</td>
<td>Brooke Tracy</td>
<td>09/20/2018</td>
<td>73 E Frambes Ave</td>
<td>40.004837</td>
<td>-83.00671</td>
</tr>
<tr>

<td>183016041-001</td>
<td>400 - Fraud</td>
<td>Xavier Casey</td>
<td>09/20/2018</td>
<td>1977 N 4th St</td>
<td>40.00384</td>
<td>-82.99849</td>
</tr>
<tr>

<td>180797975-001</td>
<td>201 - Theft of License Plate</td>
<td>AMANDA DAVEY</td>
<td>09/20/2018</td>
<td>414 W 7th</td>
<td>39.98955</td>
<td>-83.01686</td>
</tr>
<tr>

<td>180880603-001</td>
<td>110 - Felony Theft - Zone 4</td>
<td>Brian Buonocore</td>
<td>09/21/2018</td>
<td>1489 Grandview Ave</td>
<td>39.987755</td>
<td>-83.044556</td>
</tr>
<tr>

<td>180801269-001</td>
<td>254 - Assault</td>
<td>Kimberly Wooden</td>
<td>09/21/2018</td>
<td>Ifo 1446 N 5th St Apt A</td>
<td>Not found</td>
<td>Not found</td>
</tr>
<tr>

<td>180802653-001</td>
<td>551 - Criminal Damaging</td>
<td>Jason Kirkpatrick</td>
<td>09/22/2018</td>
<td>1353 N 4th St</td>
<td>39.990826</td>
<td>-82.99935</td>
</tr>
<tr>

<td>180804404-001</td>
<td>550 - Trespassing</td>
<td>No data provided</td>
<td>09/22/2018</td>
<td>1442 N 5th St Apt A</td>
<td>39.99285</td>
<td>-82.99798</td>
</tr>
<tr>

<td>180805416-001</td>
<td>712 - Disorderly Conduct</td>
<td>No data provided</td>
<td>09/22/2018</td>
<td>450 E Norwich Ave</td>
<td>40.006138</td>
<td>-82.99667</td>
</tr>
<tr>

<td>180805452-001</td>
<td>254 - Assault</td>
<td>Katarina Hodge</td>
<td>09/22/2018</td>
<td>1728 N High St</td>
<td>39.99774</td>
<td>-83.00759</td>
</tr>
<tr>

<td>180805585-001</td>
<td>550 - Trespassing</td>
<td>No data provided</td>
<td>09/23/2018</td>
<td>1770 N High St</td>
<td>39.998478</td>
<td>-83.00774</td>
</tr>
<tr>

<td>180805678-001</td>
<td>254 - Assault</td>
<td>Evan Bunis</td>
<td>09/23/2018</td>
<td>1100 N High St</td>
<td>39.984886</td>
<td>-83.00506</td>
</tr>
<tr>

<td>180805697-001</td>
<td>701 - Miscellaneous Offense</td>
<td>No data provided</td>
<td>09/23/2018</td>
<td>1770 N High St</td>
<td>39.998478</td>
<td>-83.00774</td>
</tr>
<tr>

<td>180806636-001</td>
<td>115 - Theft - Misdemeanor</td>
<td> [E] Floral Boutique</td>
<td>09/23/2018</td>
<td>215 King Ave</td>
<td>39.990364</td>
<td>-83.01214</td>
</tr>
<tr>

<td>180806875-001</td>
<td>200 - Motor Vehicle Theft</td>
<td>Connor Lucas</td>
<td>09/23/2018</td>
<td>1436 Meadow Rd</td>
<td>39.987778</td>
<td>-83.039024</td>
</tr>
<tr>

<td>180807009-001</td>
<td>200 - Motor Vehicle Theft</td>
<td>David Coulter</td>
<td>09/23/2018</td>
<td>338 E 18th Ave</td>
<td>40.002342</td>
<td>-82.99921</td>
</tr>


<tr>
</tbody></table>
<br><br>
<p>Which can then be transformed into a heatmap to analyze:</p>
 <br>
 <br>
<div id="mapid" class="centered-image"></div>
<br><br>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
<style media="screen">
  #mapid { height: 500px;
    width:1000px;
   }
</style>
<script type="text/javascript">
  var mymap = L.map('mapid').setView([40.00233,-83.00 ], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZmx5c3VyZTE5OTciLCJhIjoiY2pta2xiMDRkMDIycTN1bnZiOGtuc3J1NCJ9.egiZOL0oX3eX4f-Atl9XWQ', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'your.mapbox.access.token'
}).addTo(mymap);

var heat = L.heatLayer([
	[39.99746,	-83.00754, 0.2], // lat, lng, intensity
	[39.990437,	-83.01409, 0.5],
  [39.99746,	-83.00754],
  [39.990437,	-83.01409],
  [39.99104	, -83.003174],
  [40.004837	, -83.00671],
  [40.00384	, -82.99849],
  [39.98955	, -83.01686],
  [39.990826	, -82.99935],
  [39.99285	, -82.99798],
  [40.006138	, -82.99667],
  [39.99774	, -83.00759],
  [39.998478	, -83.00774],
  [39.984886	, -83.00506],
  [39.998478	, -83.00774],
  [39.990364	, -83.01214],
  [39.987778	, -83.039024],
  [40.002342	, -82.99921],
  [39.982735	, -82.998764]
], {radius: 50}).addTo(mymap);




</script>
